{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ OPPORTUNITY.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ OPPORTUNITY.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ OPPORTUNITY.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ OPPORTUNITY.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="{{ OPPORTUNITY.SHARE_URL }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="{{ OPPORTUNITY.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ OPPORTUNITY.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ OPPORTUNITY.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ OPPORTUNITY.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="{{ OPPORTUNITY.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}





  <section class="lead-content">
    <div class="lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div id="video-lead">
          <div class="nav-ref">
            <h1>{{OPPORTUNITY.SHORT_HEAD}}</h1>
            <hr class="shale-yellow">
          </div>
          <div class="slideshow-start lead-text">
            <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/{{ OPPORTUNITY.VIDEO_URL }}?controls=0&enablejsapi=1&modestbranding=1&rel=0&showinfo=0"><button class="fancybox-media play-button"></button></a>

            Watch video
          </div>

          <div class="share-story">
            <a href="" title="share on Facebook" class="social-share" target="_blank"><span class="facebook"></span></a>
            <a hregf="https://twitter.com/home?status=" title="share on Twitter" class="social-share" target="_blank"><span class="twitter"></span></a>
          </div>
        </div>

      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ OPPORTUNITY.LONG_HEAD }}</h2>

            {{ OPPORTUNITY.INTRO_TEXT }}

            <p class="byline">{{ OPPORTUNITY.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="/images/ShaleLife-TxMap-placeholder.gif">
            <h4>{{ OPPORTUNITY.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Additional Information</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>2000</th>
                <th>2010</th>
                <th>2013</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Census Population">Census Population</td>
                <td data-title="{{ OPPORTUNITY.Data_Col1 }}">{{ OPPORTUNITY.Pop2000 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col2 }}">{{ OPPORTUNITY.Pop2010 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col2 }}">{{ OPPORTUNITY.Pop2013 }}</td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ OPPORTUNITY.Data_Col1 }}</th>
                <th>{{ OPPORTUNITY.Data_Col2 }}</th>
                <th>{{ OPPORTUNITY.Data_Col3 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ OPPORTUNITY.Data_Title_A }}">{{ OPPORTUNITY.Data_Title_A }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col1 }}">{{ OPPORTUNITY.Data_A_1 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col2 }}">{{ OPPORTUNITY.Data_A_2 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col3 }}">{{ OPPORTUNITY.Data_A_3 }}</td>
              </tr>
              <tr>
                <td data-title="{{ OPPORTUNITY.Data_Title_B }}">{{ OPPORTUNITY.Data_Title_B }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col1 }}">{{ OPPORTUNITY.Data_B_1 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col2 }}">{{ OPPORTUNITY.Data_B_2 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col3 }}">{{ OPPORTUNITY.Data_B_3 }}</td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ OPPORTUNITY.Data_Col4 }}</th>
                <th>{{ OPPORTUNITY.Data_Col5 }}</th>
                <th>{{ OPPORTUNITY.Data_Col6 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ OPPORTUNITY.Data_Title_C }}">{{ OPPORTUNITY.Data_Title_C }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col4 }}">{{ OPPORTUNITY.Data_C_1 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col5 }}">{{ OPPORTUNITY.Data_C_2 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col6 }}">{{ OPPORTUNITY.Data_C_3 }}</td>
              </tr>
              <tr>
                <td data-title="{{ OPPORTUNITY.Data_Title_D }}">{{ OPPORTUNITY.Data_Title_D }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col4 }}">{{ OPPORTUNITY.Data_D_1 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col5 }}">{{ OPPORTUNITY.Data_D_2 }}</td>
                <td data-title="{{ OPPORTUNITY.Data_Col6 }}">{{ OPPORTUNITY.Data_D_3 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ OPPORTUNITY.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
          <script>
            googletag.cmd.push(function() {
              googletag.display('div-gpt-ad-1406570316312-1');
            });
          </script>
        </div>

      </div>


    </div>
  </section>

{% endblock %}
