{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ KARNES.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ KARNES.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ KARNES.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ KARNES.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="{{ KARNES.SHARE_URL }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="{{ KARNES.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ KARNES.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ KARNES.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ KARNES.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="{{ KARNES.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}





  <section class="lead-content">
    <div class="lead-image"></div>
    <div class="container">
    <header class="lead-header">
        <div class="flexslider slideshow" id="slideshow">
          <ul class="slides">
            <li>
              <div class="nav-ref">
                <h1>{{KARNES.SHORT_HEAD}}</h1>
                <hr class="shale-yellow">
              </div>
              <div class="slideshow-start lead-text">
                <p>Play Slideshow</p>
              </div>

              <div class="share-story">
                <a href="http://www.facebook.com/sharer.php?u=" title="share on Facebook" class="social-share" target="_blank"><span class="facebook"></span></a>
                <a hregf="https://twitter.com/home?status=" title="share on Twitter" class="social-share" target="_blank"><span class="twitter"></span></a>
              </div>
            </li>
             <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_1_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_1_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_2_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_2_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_3_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_3_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_4_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_4_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_5_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_5_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_6_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_6_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_7_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_7_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_8_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_8_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_9_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_9_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_10_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_10_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_11_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_11_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_12_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_12_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_13_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_13_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_14_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_14_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_15_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_15_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ KARNES.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.PHOTO_16_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ KARNES.PHOTO_16_CAPTION }}</p>
              </div>
              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ KARNES.LONG_HEAD }}</h2>

            {{ KARNES.INTRO_TEXT }}

            <p class="byline">{{ KARNES.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="/images/ShaleLife-TxMap-placeholder.gif">
            <h4>{{ KARNES.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Additional Information</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>2000</th>
                <th>2010</th>
                <th>2013</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Census Population">Census Population</td>
                <td data-title="{{ KARNES.Data_Col1 }}">{{ KARNES.Pop2000 }}</td>
                <td data-title="{{ KARNES.Data_Col2 }}">{{ KARNES.Pop2010 }}</td>
                <td data-title="{{ KARNES.Data_Col2 }}">{{ KARNES.Pop2013 }}</td>
              </tr>
              <tr>
                <td data-title="{{ KARNES.Data_Title_A }}">{{ KARNES.Data_Title_A }}</td>
                <td data-title="{{ KARNES.Data_Col1 }}">{{ KARNES.Data_A_1 }}</td>
                <td data-title="{{ KARNES.Data_Col2 }}">{{ KARNES.Data_A_2 }}</td>
                <td data-title="{{ KARNES.Data_Col3 }}">{{ KARNES.Data_A_3 }}</td>
              </tr>
              <tr>
                <td data-title="{{ KARNES.Data_Title_B }}">{{ KARNES.Data_Title_B }}</td>
                <td data-title="{{ KARNES.Data_Col1 }}">{{ KARNES.Data_B_1 }}</td>
                <td data-title="{{ KARNES.Data_Col2 }}">{{ KARNES.Data_B_2 }}</td>
                <td data-title="{{ KARNES.Data_Col3 }}">{{ KARNES.Data_B_3 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ KARNES.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
          <script>
            googletag.cmd.push(function() {
              googletag.display('div-gpt-ad-1406570316312-1');
            });
          </script>
        </div>

      </div>


    </div>
  </section>

{% endblock %}
