// dependencies: bourbon + neat
// Bourbon 4.1.1
// http://bourbon.io
// Copyright 2011-2015 thoughtbot, inc.
// MIT License

// Settings
@import "bourbon/app/assets/stylesheets/settings/prefixer";
@import "bourbon/app/assets/stylesheets/settings/px-to-em";
@import "bourbon/app/assets/stylesheets/settings/asset-pipeline";

// Custom Helpers
@import "bourbon/app/assets/stylesheets/helpers/convert-units";
@import "bourbon/app/assets/stylesheets/helpers/font-source-declaration";
@import "bourbon/app/assets/stylesheets/helpers/gradient-positions-parser";
@import "bourbon/app/assets/stylesheets/helpers/is-num";
@import "bourbon/app/assets/stylesheets/helpers/linear-angle-parser";
@import "bourbon/app/assets/stylesheets/helpers/linear-gradient-parser";
@import "bourbon/app/assets/stylesheets/helpers/linear-positions-parser";
@import "bourbon/app/assets/stylesheets/helpers/linear-side-corner-parser";
@import "bourbon/app/assets/stylesheets/helpers/radial-arg-parser";
@import "bourbon/app/assets/stylesheets/helpers/radial-positions-parser";
@import "bourbon/app/assets/stylesheets/helpers/radial-gradient-parser";
@import "bourbon/app/assets/stylesheets/helpers/render-gradients";
@import "bourbon/app/assets/stylesheets/helpers/shape-size-stripper";
@import "bourbon/app/assets/stylesheets/helpers/str-to-num";

// Custom Functions
@import "bourbon/app/assets/stylesheets/functions/assign";
@import "bourbon/app/assets/stylesheets/functions/color-lightness";
@import "bourbon/app/assets/stylesheets/functions/contains";
@import "bourbon/app/assets/stylesheets/functions/is-length";
@import "bourbon/app/assets/stylesheets/functions/is-size";
@import "bourbon/app/assets/stylesheets/functions/px-to-em";
@import "bourbon/app/assets/stylesheets/functions/px-to-rem";
@import "bourbon/app/assets/stylesheets/functions/strip-units";
@import "bourbon/app/assets/stylesheets/functions/tint-shade";
@import "bourbon/app/assets/stylesheets/functions/transition-property-name";
@import "bourbon/app/assets/stylesheets/functions/unpack";
@import "bourbon/app/assets/stylesheets/functions/modular-scale";

// CSS3 Mixins
@import "bourbon/app/assets/stylesheets/css3/animation";
@import "bourbon/app/assets/stylesheets/css3/appearance";
@import "bourbon/app/assets/stylesheets/css3/backface-visibility";
@import "bourbon/app/assets/stylesheets/css3/background";
@import "bourbon/app/assets/stylesheets/css3/background-image";
@import "bourbon/app/assets/stylesheets/css3/border-image";
@import "bourbon/app/assets/stylesheets/css3/border-radius";
@import "bourbon/app/assets/stylesheets/css3/box-sizing";
@import "bourbon/app/assets/stylesheets/css3/calc";
@import "bourbon/app/assets/stylesheets/css3/columns";
@import "bourbon/app/assets/stylesheets/css3/filter";
@import "bourbon/app/assets/stylesheets/css3/flex-box";
@import "bourbon/app/assets/stylesheets/css3/font-face";
@import "bourbon/app/assets/stylesheets/css3/font-feature-settings";
@import "bourbon/app/assets/stylesheets/css3/hidpi-media-query";
@import "bourbon/app/assets/stylesheets/css3/hyphens";
@import "bourbon/app/assets/stylesheets/css3/image-rendering";
@import "bourbon/app/assets/stylesheets/css3/keyframes";
@import "bourbon/app/assets/stylesheets/css3/linear-gradient";
@import "bourbon/app/assets/stylesheets/css3/perspective";
@import "bourbon/app/assets/stylesheets/css3/placeholder";
@import "bourbon/app/assets/stylesheets/css3/radial-gradient";
@import "bourbon/app/assets/stylesheets/css3/selection";
@import "bourbon/app/assets/stylesheets/css3/text-decoration";
@import "bourbon/app/assets/stylesheets/css3/transform";
@import "bourbon/app/assets/stylesheets/css3/transition";
@import "bourbon/app/assets/stylesheets/css3/user-select";

// Addons & other mixins
@import "bourbon/app/assets/stylesheets/addons/clearfix";
@import "bourbon/app/assets/stylesheets/addons/directional-values";
@import "bourbon/app/assets/stylesheets/addons/ellipsis";
@import "bourbon/app/assets/stylesheets/addons/font-family";
@import "bourbon/app/assets/stylesheets/addons/hide-text";
@import "bourbon/app/assets/stylesheets/addons/html5-input-types";
@import "bourbon/app/assets/stylesheets/addons/position";
@import "bourbon/app/assets/stylesheets/addons/prefixer";
@import "bourbon/app/assets/stylesheets/addons/retina-image";
@import "bourbon/app/assets/stylesheets/addons/size";
@import "bourbon/app/assets/stylesheets/addons/timing-functions";
@import "bourbon/app/assets/stylesheets/addons/triangle";
@import "bourbon/app/assets/stylesheets/addons/word-wrap";

// Soon to be deprecated Mixins
@import "bourbon/app/assets/stylesheets/bourbon-deprecated-upcoming";

// @import 'bourbon/app/assets/stylesheets/bourbon';
@import 'neat/app/assets/stylesheets/neat';

// loads base and helpers
@import 'newsapps-styles/initialize';

// app specific script
@import 'helpers/shale-colors';
@import 'helpers/breakpoints';
@import 'helpers/story-specifics';
@import 'helpers/icons';

// vendor scripts
@import 'vendors/flexslider';

// shale themes for various page types
@import 'layout/theme/shale-base';
@import 'layout/theme/shale-landing';
@import 'layout/theme/story-content';
@import 'layout/theme/about';
@import 'layout/theme/supporters';

// page components
@import 'layout/components/shale-masthead';
@import 'layout/components/shale-footer';
@import 'layout/components/story-slideshow';
@import 'layout/components/data-context';
@import 'layout/components/nav-carousel';
@import 'layout/components/audio-player';
@import 'layout/components/shale-ads';

// override to fix horizontal scroll issue on mobile
body {
  overflow-x: hidden;
  width: 100%;
}
