{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ COTTON_FARMERS.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ COTTON_FARMERS.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ COTTON_FARMERS.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ COTTON_FARMERS.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="{{ COTTON_FARMERS.SHARE_URL }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="{{ COTTON_FARMERS.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ COTTON_FARMERS.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ COTTON_FARMERS.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ COTTON_FARMERS.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="{{ COTTON_FARMERS.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}

  <section class="lead-content">
    <div class="lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div class="flexslider slideshow" id="slideshow">
          <ul class="slides">
            <li>
              <div class="nav-ref">
                <h1>{{COTTON_FARMERS.SHORT_HEAD}}</h1>
<!--                 <h3>{{COTTON_FARMERS.LONG_HEAD}}</h3>
 -->              <hr class="shale-yellow">
              </div>


              <div class="slideshow-start lead-text">
                <p>Play Slideshow</p>
              </div>

              <div class="share-story">
                <a href="http://www.facebook.com/sharer.php?u=" title="share on Facebook" class="social-share" target="_blank"><span class="facebook"></span></a>
                <a hregf="https://twitter.com/home?status=" title="share on Twitter" class="social-share" target="_blank"><span class="twitter"></span></a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">

                <div class="slideshow-title lead-text">
                  <h4>Here is an image</h4>
                </div>

                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>

                <img src="{{ COTTON_FARMERS.PHOTO_1_URL }}">

              </div>

              <div class="slideshow-caption lead-text">
                <p>{{ COTTON_FARMERS.PHOTO_1_CAPTION }}</p>
              </div>

              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">

                <div class="slideshow-title lead-text">
                  <h4>Here is an image</h4>
                </div>

                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>

                <img src="http://placehold.it/720x405">

              </div>

              <div class="slideshow-caption lead-text">
                <p>Beard keytar tousled Brooklyn Helvetica, chia Pitchfork brunch shabby chic trust fund. +1 Austin scenester flannel Banksy typewriter mlkshk narwhal, drinking vinegar letterpress Portland biodiesel umami.</p>
              </div>

              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">

                <div class="slideshow-title lead-text">
                  <h4>Here is an image</h4>
                </div>

                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>

                <img src="http://placehold.it/720x405">

              </div>

              <div class="slideshow-caption lead-text">
                <p>Beard keytar tousled Brooklyn Helvetica, chia Pitchfork brunch shabby chic trust fund. +1 Austin scenester flannel Banksy typewriter mlkshk narwhal, drinking vinegar letterpress Portland biodiesel umami.</p>
              </div>

              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">

                <div class="slideshow-title lead-text">
                  <h4>Here is an image</h4>
                </div>

                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>

                <img src="http://placehold.it/720x405">

              </div>

              <div class="slideshow-caption lead-text">
                <p>Beard keytar tousled Brooklyn Helvetica, chia Pitchfork brunch shabby chic trust fund. +1 Austin scenester flannel Banksy typewriter mlkshk narwhal, drinking vinegar letterpress Portland biodiesel umami.</p>
              </div>

              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ COTTON_FARMERS.LONG_HEAD }}</h2>

            {{ COTTON_FARMERS.INTRO_TEXT }}

            <p class="byline">{{ COTTON_FARMERS.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="/images/ShaleLife-TxMap-placeholder.gif">
            <h4>{{ COTTON_FARMERS.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Additional Information</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>2000</th>
                <th>2010</th>
                <th>2013</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Census Population">Census Population</td>
                <td data-title="{{ COTTON_FARMERS.Data_Col1 }}">{{ COTTON_FARMERS.Pop2000 }}</td>
                <td data-title="{{ COTTON_FARMERS.Data_Col2 }}">{{ COTTON_FARMERS.Pop2010 }}</td>
                <td data-title="{{ COTTON_FARMERS.Data_Col2 }}">{{ COTTON_FARMERS.Pop2013 }}</td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ COTTON_FARMERS.Data_Col1 }}</th>
                <th>{{ COTTON_FARMERS.Data_Col2 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ COTTON_FARMERS.Data_Title_A }}">{{ COTTON_FARMERS.Data_Title_A }}</td>
                <td data-title="{{ COTTON_FARMERS.Data_Col1 }}">{{ COTTON_FARMERS.Data_A_1 }}</td>
                <td data-title="{{ COTTON_FARMERS.Data_Col2 }}">{{ COTTON_FARMERS.Data_A_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ COTTON_FARMERS.Data_Title_B }}">{{ COTTON_FARMERS.Data_Title_B }}</td>
                <td data-title="{{ COTTON_FARMERS.Data_Col1 }}">{{ COTTON_FARMERS.Data_B_1 }}</td>
                <td data-title="{{ COTTON_FARMERS.Data_Col2 }}">{{ COTTON_FARMERS.Data_B_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ COTTON_FARMERS.Data_Title_C }}">{{ COTTON_FARMERS.Data_Title_C }}</td>
                <td data-title="{{ COTTON_FARMERS.Data_Col1 }}">{{ COTTON_FARMERS.Data_C_1 }}</td>
                <td data-title="{{ COTTON_FARMERS.Data_Col2 }}">{{ COTTON_FARMERS.Data_C_2 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ COTTON_FARMERS.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
          <script>
            googletag.cmd.push(function() {
              googletag.display('div-gpt-ad-1406570316312-1');
            });
          </script>
        </div>

      </div>


    </div>
  </section>

{% endblock %}
