{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ BUSES.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ BUSES.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ BUSES.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ BUSES.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="http://apps.texastribune.org/shale-life/http://apps.texastribune.org/shale-life/{{ BUSES.SLUG }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="http://s3.amazonaws.com/static.texastribune.org/media/shale/{{ BUSES.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ BUSES.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ BUSES.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ BUSES.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BUSES.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}

  <section class="lead-content">
    <div class="BUSES lead-image"></div>
    <div class="container">

      <header class="lead-header">
        <div id="video-lead">
          <div class="nav-ref">
            <h1>{{BUSES.SHORT_HEAD}}</h1>
            <hr class="shale-yellow">
          </div>
          <div class="video-start lead-text">
            <a class="video" href="http://www.youtube.com/watch?v={{ BUSES.VIDEO_URL }}"><button class="play-button"></button></a>

            <p>{{ BUSES.PROMPT }}</p>
          </div>

          <div class="share-story">
            <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BUSES.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BUSES.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BUSES.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="https://twitter.com/intent/tweet?text={{ BUSES.ENCRYPTED_TWEET }}%20{{ BUSES.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
        </div>

      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ BUSES.LONG_HEAD }}</h2>

            {{ BUSES.INTRO_TEXT }}

            <p class="byline">{{ BUSES.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BUSES.MAP_URL }}">
            <h4>{{ BUSES.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Dimmit and Zavala by the Numbers</h4>
          <hr class="shale-yellow">
          <h5>Dimmit County</h5>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ BUSES.Data_Col1 }}</th>
                <th>{{ BUSES.Data_Col2 }}</th>
                <th>{{ BUSES.Data_Col3 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ BUSES.Data_Title_A }}">{{ BUSES.Data_Title_A }}</td>
                <td data-title="{{ BUSES.Data_Col1 }}">{{ BUSES.Data_A_1D }}</td>
                <td data-title="{{ BUSES.Data_Col2 }}">{{ BUSES.Data_A_2D }}</td>
                <td data-title="{{ BUSES.Data_Col3 }}">{{ BUSES.Data_A_3D }}</td>
              </tr>
              <tr>
                <td data-title="{{ BUSES.Data_Title_B }}">{{ BUSES.Data_Title_B }}</td>
                <td data-title="{{ BUSES.Data_Col1 }}">{{ BUSES.Data_B_1D }}</td>
                <td data-title="{{ BUSES.Data_Col2 }}">{{ BUSES.Data_B_2D }}</td>
                <td data-title="{{ BUSES.Data_Col3 }}">{{ BUSES.Data_B_3D }}</td>
              </tr>
              <tr>
                <td data-title="{{ BUSES.Data_Title_C }}">{{ BUSES.Data_Title_C }}</td>
                <td data-title="{{ BUSES.Data_Col1 }}">{{ BUSES.Data_C_1D }}</td>
                <td data-title="{{ BUSES.Data_Col2 }}">{{ BUSES.Data_C_2D }}</td>
                <td data-title="{{ BUSES.Data_Col3 }}">{{ BUSES.Data_C_3D }}</td>
              </tr>
            </tbody>
          </table>
          <h5>Zavala County</h5>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ BUSES.Data_Col1 }}</th>
                <th>{{ BUSES.Data_Col2 }}</th>
                <th>{{ BUSES.Data_Col3 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ BUSES.Data_Title_A }}">{{ BUSES.Data_Title_A }}</td>
                <td data-title="{{ BUSES.Data_Col1 }}">{{ BUSES.Data_A_1Z }}</td>
                <td data-title="{{ BUSES.Data_Col2 }}">{{ BUSES.Data_A_2Z }}</td>
                <td data-title="{{ BUSES.Data_Col3 }}">{{ BUSES.Data_A_3Z }}</td>
              </tr>
              <tr>
                <td data-title="{{ BUSES.Data_Title_B }}">{{ BUSES.Data_Title_B }}</td>
                <td data-title="{{ BUSES.Data_Col1 }}">{{ BUSES.Data_B_1Z }}</td>
                <td data-title="{{ BUSES.Data_Col2 }}">{{ BUSES.Data_B_2Z }}</td>
                <td data-title="{{ BUSES.Data_Col3 }}">{{ BUSES.Data_B_3Z }}</td>
              </tr>
              <tr>
                <td data-title="{{ BUSES.Data_Title_C }}">{{ BUSES.Data_Title_C }}</td>
                <td data-title="{{ BUSES.Data_Col1 }}">{{ BUSES.Data_C_1Z }}</td>
                <td data-title="{{ BUSES.Data_Col2 }}">{{ BUSES.Data_C_2Z }}</td>
                <td data-title="{{ BUSES.Data_Col3 }}">{{ BUSES.Data_C_3Z }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ BUSES.SOURCE }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        {% include 'app/templates/includes/box_ad.html' %}

      </div>


    </div>
  </section>

{% endblock %}
