{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ FOOTBALL.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ FOOTBALL.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ FOOTBALL.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ FOOTBALL.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="{{ FOOTBALL.SHARE_URL }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="{{ FOOTBALL.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ FOOTBALL.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ FOOTBALL.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ FOOTBALL.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="{{ FOOTBALL.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}
  <section class="lead-content">
    <div class="lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div class="flexslider slideshow" id="slideshow">
          <ul class="slides">
            <li>
              <div class="nav-ref">
                <h1>{{FOOTBALL.SHORT_HEAD}}</h1>
              <hr class="shale-yellow">
              </div>


              <div class="slideshow-start lead-text">
                <p>Play Slideshow</p>
              </div>

              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ FOOTBALL.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.PHOTO_1_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ FOOTBALL.PHOTO_1_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ FOOTBALL.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.PHOTO_2_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ FOOTBALL.PHOTO_2_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ FOOTBALL.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.PHOTO_3_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ FOOTBALL.PHOTO_3_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ FOOTBALL.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.PHOTO_4_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ FOOTBALL.PHOTO_4_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ FOOTBALL.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.PHOTO_5_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ FOOTBALL.PHOTO_5_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ FOOTBALL.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.PHOTO_6_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ FOOTBALL.PHOTO_6_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ FOOTBALL.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.PHOTO_7_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ FOOTBALL.PHOTO_7_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ FOOTBALL.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.PHOTO_8_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ FOOTBALL.PHOTO_8_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ FOOTBALL.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.PHOTO_9_URL }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ FOOTBALL.PHOTO_9_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{FOOTBALL.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ FOOTBALL.ENCRYPTED_FACEBOOK }}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ FOOTBALL.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ FOOTBALL.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ FOOTBALL.ENCRYPTED_TWEET }}%20{{ FOOTBALL.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ FOOTBALL.LONG_HEAD }}</h2>

            {{ FOOTBALL.INTRO_TEXT }}

            <p class="byline">{{ FOOTBALL.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.MAP_URL }}">
            <h4>{{ FOOTBALL.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Karnes County by the Numbers</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>2000</th>
                <th>2010</th>
                <th>2013</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Population">Population</td>
                <td data-title="{{ FOOTBALL.Data_Col1 }}">{{ FOOTBALL.Pop2000 }}</td>
                <td data-title="{{ FOOTBALL.Data_Col2 }}">{{ FOOTBALL.Pop2010 }}</td>
                <td data-title="{{ FOOTBALL.Data_Col2 }}">{{ FOOTBALL.Pop2013 }}</td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ FOOTBALL.Data_Col1 }}</th>
                <th>{{ FOOTBALL.Data_Col2 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ FOOTBALL.Data_Title_A }}">{{ FOOTBALL.Data_Title_A }}</td>
                <td data-title="{{ FOOTBALL.Data_Col1 }}">{{ FOOTBALL.Data_A_1 }}</td>
                <td data-title="{{ FOOTBALL.Data_Col2 }}">{{ FOOTBALL.Data_A_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ FOOTBALL.Data_Title_B }}">{{ FOOTBALL.Data_Title_B }}</td>
                <td data-title="{{ FOOTBALL.Data_Col1 }}">{{ FOOTBALL.Data_B_1 }}</td>
                <td data-title="{{ FOOTBALL.Data_Col2 }}">{{ FOOTBALL.Data_B_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ FOOTBALL.Data_Title_C }}">{{ FOOTBALL.Data_Title_C }}</td>
                <td data-title="{{ FOOTBALL.Data_Col1 }}">{{ FOOTBALL.Data_C_1 }}</td>
                <td data-title="{{ FOOTBALL.Data_Col2 }}">{{ FOOTBALL.Data_C_2 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ FOOTBALL.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
          <script>
            googletag.cmd.push(function() {
              googletag.display('div-gpt-ad-1406570316312-1');
            });
          </script>
        </div>

      </div>


    </div>
  </section>

{% endblock %}
