{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ CHALLENGE.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ CHALLENGE.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ CHALLENGE.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ CHALLENGE.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="{{ CHALLENGE.SHARE_URL }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="{{ CHALLENGE.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ CHALLENGE.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ CHALLENGE.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ CHALLENGE.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="{{ CHALLENGE.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}
  <section class="lead-content">
    <div class="CHALLENGE lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div id="video-lead">
          <div class="nav-ref">
            <h1>{{CHALLENGE.SHORT_HEAD}}</h1>
            <hr class="shale-yellow">
          </div>
          <div class="video-start lead-text">
            <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/{{ CHALLENGE.VIDEO_URL }}?controls=2&enablejsapi=1&modestbranding=1&rel=0&showinfo=0"><button class="fancybox-media play-button"></button></a>

            <p>Watch Video</p>
          </div>

          <div class="share-story">
            <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{CHALLENGE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ CHALLENGE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ CHALLENGE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="https://twitter.com/home?status={{ CHALLENGE.ENCRYPTED_TWEET }}%20{{ CHALLENGE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
        </div>

      </header>
      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ CHALLENGE.LONG_HEAD }}</h2>

            {{ CHALLENGE.INTRO_TEXT }}

            <p class="byline">{{ CHALLENGE.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CHALLENGE.MAP_URL }}">
            <h4>{{ CHALLENGE.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Midland County by the Numbers</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>2000</th>
                <th>2010</th>
                <th>2013</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Population">Population</td>
                <td data-title="{{ CHALLENGE.Data_Col1 }}">{{ CHALLENGE.Pop2000 }}</td>
                <td data-title="{{ CHALLENGE.Data_Col2 }}">{{ CHALLENGE.Pop2010 }}</td>
                <td data-title="{{ CHALLENGE.Data_Col2 }}">{{ CHALLENGE.Pop2013 }}</td>
              </tr>
              <tr class="extra-header">
                <th></th>
                <th></th>
                <th>{{ CHALLENGE.Data_Col1 }}</th>
                <th>{{ CHALLENGE.Data_Col2 }}</th>
              </tr>
              <tr>
                <td data-title="{{ CHALLENGE.Data_Title_A }}">{{ CHALLENGE.Data_Title_A }}</td>
                <td></td>
                <td data-title="{{ CHALLENGE.Data_Col1 }}">{{ CHALLENGE.Data_A_1 }}</td>
                <td data-title="{{ CHALLENGE.Data_Col2 }}">{{ CHALLENGE.Data_A_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ CHALLENGE.Data_Title_B }}">{{ CHALLENGE.Data_Title_B }}</td>
                <td></td>
                <td data-title="{{ CHALLENGE.Data_Col1 }}">{{ CHALLENGE.Data_B_1 }}</td>
                <td data-title="{{ CHALLENGE.Data_Col2 }}">{{ CHALLENGE.Data_B_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ CHALLENGE.Data_Title_C }}">{{ CHALLENGE.Data_Title_C }}</td>
                <td></td>
                <td data-title="{{ CHALLENGE.Data_Col1 }}">{{ CHALLENGE.Data_C_1 }}</td>
                <td data-title="{{ CHALLENGE.Data_Col2 }}">{{ CHALLENGE.Data_C_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ CHALLENGE.Data2_Title_A }}">{{ CHALLENGE.Data2_Title_A }}</td>
                <td></td>
                <td data-title="{{ CHALLENGE.Data2_Col1 }}">{{ CHALLENGE.Data2_A_1 }}</td>
                <td data-title="{{ CHALLENGE.Data2_Col2 }}">{{ CHALLENGE.Data2_A_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ CHALLENGE.Data2_Title_B }}">{{ CHALLENGE.Data2_Title_B }}</td>
                <td></td>
                <td data-title="{{ CHALLENGE.Data2_Col1 }}">{{ CHALLENGE.Data2_B_1 }}</td>
                <td data-title="{{ CHALLENGE.Data2_Col2 }}">{{ CHALLENGE.Data2_B_2 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ CHALLENGE.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
          <script>
            googletag.cmd.push(function() {
              googletag.display('div-gpt-ad-1406570316312-1');
            });
          </script>
        </div>

      </div>


    </div>
  </section>

{% endblock %}
