{% extends 'app/templates/base.html' %}

{% block content %}

<section class="landing-lead">
  <div class="landing-banner">
    <div class="landing-header-image">
    </div>
    <div class="container">
      <header class="lead-header">
        <h1>THE SHALE LIFE</h1>
        <h1 class="yellow">SUPPORTERS</h1>
        <div class="supporters-prompt">
          <h3>{{ SUPPORTERS.INTRO_TEXT_SUPPORTERS }}</h3>
        </div>
        <div class="share-supporters">
          <a href="http://www.facebook.com/sharer.php?u=" title="share on Facebook" class="social-share" target="_blank"><span class="facebook"></span></a>
          <a hregf="https://twitter.com/home?status=" title="share on Twitter" class="social-share" target="_blank"><span class="twitter"></span></a>
        </div>
      </header>
    </div>
  </div>
</section>



{% endblock %}
