{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>Supporters | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ BUSES.SHORT_HEAD }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ BUSES.SHORT_HEAD }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="Supporters | The Shale Life ">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="Supporters | The Shale Life ">{% endblock %}


<!-- Main Content -->
{% block content %}

<section class="lead-content">
  <div class="SUPPORTERS lead-image"></div>
  <div class="container">
    <header class="lead-header supporters-header">
      <h1>THE SHALE LIFE</h1>
      <h1 class="yellow">SUPPORTERS</h1>
      <div class="supporters-prompt">
        <h3>{{ SUPPORTERS.INTRO_TEXT_SUPPORTERS }}</h3>
      </div>
    </header>
  </div>
</section>

<section>
  <div class="container">
    <div class="supporters">
      <h4>SUPPORTERS</h4>
      <div class="supporters-a">
        <p>Tom Acklen</p>
        <p>Albert M. Adams</p>
        <p>Tamara Allen</p>
        <p>Rosental Calmon Alves</p>
        <p>Mona Bailey</p>
        <p>John Barton</p>
        <p>William D. Bennett Jr.</p>
        <p>Brent &amp; Amy Boyd</p>
        <p>Julia Briggs</p>
        <p>Laurie Ezzell Brown</p>
        <p>Susan Burkhardt</p>
        <p>Meredith Bush</p>
        <p>Chris Chang</p>
        <p>Willie Chapman</p>
        <p>Dmitri Cherniak</p>
        <p>Rosemary Coffman</p>
        <p>Susan Cummings</p>
        <p>Jim Davis</p>
        <p>Elinor Donnell</p>
        <p>Marilyn Doyle</p>
        <p>Jeff Eller</p>
        <p>Jay Evans</p>
        <p>John Fainter</p>
        <p>Dan Fletcher</p>
        <p>Denise Flores</p>
        <p>Daryl Fowler</p>
        <p>Wil Galloway</p>
        <p>Vick Gercans</p>
        <p>Rodney Gibbs</p>
        <p>Tamara Gregory</p>
        <p>Carlos Scooter Griffin</p>
        <p>Tim Griggs</p>
        <p>Gerald Grisak</p>
        <p>Barbara V. Hartstein</p>
        <p>April Brumley Hinkle</p>
        <p>Jacqueline Ho</p>
        <p>Janet Horton</p>
        <p>Todd Jagger</p>
        <p>Shelbie Knox</p>
        <p>Kevin Koch</p>
        <p>Kelly Kolodzey</p>
        <p>Joseph Krauss</p>
        <p>John Leicht</p>
        <p>Claudia Lynch</p>
        <p>Corrie MacLaggan</p>
        <p>Andrew Mangan</p>
        <p>Michael Marder</p>
        <p>Theresa Massey</p>
        <p>Sean McCaffrey</p>
      </div>
      <div class="supporters-b">
        <p>Katherine McGovern</p>
        <p>Mike McKetta</p>
        <p>Casey McManemin</p>
        <p>Annine Miscoe</p>
        <p>Julie Montgomery</p>
        <p>Trey Murphy</p>
        <p>Catherine Neill</p>
        <p>Darlene Netzer</p>
        <p>Michael Netzer</p>
        <p>Sara Netzer</p>
        <p>Minjae Park</p>
        <p>Charlotte Parker</p>
        <p>Kati &amp; Zach Parker</p>
        <p>Tracy LaQuey Parker</p>
        <p>Rickei Powell</p>
        <p>Terry Quinn</p>
        <p>Alan Ralph</p>
        <p>Emily Ramshaw</p>
        <p>Valerie Reddell</p>
        <p>Patricia Ridgley</p>
        <p>Patty Rogers</p>
        <p>Christy Rome</p>
        <p>Amanda Russell</p>
        <p>Linda Sargent</p>
        <p>Carolyn Savino</p>
        <p>Jane Scroggs</p>
        <p>Noah Seger</p>
        <p>Ellen Taylor Seldin</p>
        <p>Ricky Lark &amp; Rickey Shaum</p>
        <p>Patrick L. Sheppard</p>
        <p>Kenneth Smith</p>
        <p>T. Randall Smith</p>
        <p>Stuart W. Stedman</p>
        <p>Lois Strand</p>
        <p>Eric Stumberg</p>
        <p>Eileen Sudela</p>
        <p>James Teal</p>
        <p>Judith M. Telford</p>
        <p>Barbara Thomas</p>
        <p>Linda Thompson</p>
        <p>Traci Vahrenkamp</p>
        <p>Agnes Varnum</p>
        <p>Jacob Villanueva</p>
        <p>Michael Vinson</p>
        <p>Jill Welch</p>
        <p>Gene Whittle</p>
        <p>Neal Wise</p>
        <p>Jake Zapalac</p>
      </div>
      <h4 style="margin-top: .5em;">It's not too late to <a href="http://www.beaconreader.com/projects/the-shale-life-project">contribute</a> to the shale life project!</h4>
    </div>

  </div>

</section>



{% endblock %}
