{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ LOVING_COUNTY.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ LOVING_COUNTY.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ LOVING_COUNTY.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ LOVING_COUNTY.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="{{ LOVING_COUNTY.SHARE_URL }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="{{ LOVING_COUNTY.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ LOVING_COUNTY.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ LOVING_COUNTY.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ LOVING_COUNTY.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="{{ LOVING_COUNTY.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}





  <section class="lead-content">
    <div class="lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div id="video-lead">
          <div class="nav-ref">
            <h1>{{LOVING_COUNTY.SHORT_HEAD}}</h1>
            <hr class="shale-yellow">
          </div>
          <div class="slideshow-start lead-text">
            <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/{{ LOVING_COUNTY.VIDEO_URL }}?controls=0&enablejsapi=1&modestbranding=1&rel=0&showinfo=0"><button class="fancybox-media play-button"></button></a>

            <p>Watch Video</p>
          </div>

          <div class="share-story">
            <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{LOVING_COUNTY.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&caption={{ LOVING_COUNTY.ENCRYPTED_FACEBOOK }}&description={{ LOVING_COUNTY.LONG_HEAD}}&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ LOVING_COUNTY.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ LOVING_COUNTY.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="https://twitter.com/home?status={{ LOVING_COUNTY.ENCRYPTED_TWEET }}%20{{ LOVING_COUNTY.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
        </div>

      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ LOVING_COUNTY.LONG_HEAD }}</h2>

            {{ LOVING_COUNTY.INTRO_TEXT }}

            <p class="byline">{{ LOVING_COUNTY.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ LOVING_COUNTY.MAP_URL }}">
            <h4>{{ LOVING_COUNTY.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Additional Information</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ LOVING_COUNTY.Data_Col1 }}</th>
                <th>{{ LOVING_COUNTY.Data_Col2 }}</th>
                <th>{{ LOVING_COUNTY.Data_Col3 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Census Population">Census Population</td>
                <td data-title="{{ LOVING_COUNTY.Data_Col1 }}">{{ LOVING_COUNTY.Pop2000 }}</td>
                <td data-title="{{ LOVING_COUNTY.Data_Col2 }}">{{ LOVING_COUNTY.Pop2010 }}</td>
                <td data-title="{{ LOVING_COUNTY.Data_Col2 }}">{{ LOVING_COUNTY.Pop2013 }}</td>
              </tr>
              <tr>
                <td data-title="{{ LOVING_COUNTY.Data_Title_A }}">{{ LOVING_COUNTY.Data_Title_A }}</td>
                <td data-title="{{ LOVING_COUNTY.Data_Col1 }}">{{ LOVING_COUNTY.Data_A_1 }}</td>
                <td data-title="{{ LOVING_COUNTY.Data_Col2 }}">{{ LOVING_COUNTY.Data_A_2 }}</td>
                <td data-title="{{ LOVING_COUNTY.Data_Col2 }}">{{ LOVING_COUNTY.Data_A_3 }}</td>
              </tr>
              <tr>
                <td data-title="{{ LOVING_COUNTY.Data_Title_B }}">{{ LOVING_COUNTY.Data_Title_B }}</td>
                <td data-title="{{ LOVING_COUNTY.Data_Col1 }}">{{ LOVING_COUNTY.Data_B_1 }}</td>
                <td data-title="{{ LOVING_COUNTY.Data_Col2 }}">{{ LOVING_COUNTY.Data_B_2 }}</td>
                <td data-title="{{ LOVING_COUNTY.Data_Col2 }}">{{ LOVING_COUNTY.Data_B_3 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ LOVING_COUNTY.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
          <script>
            googletag.cmd.push(function() {
              googletag.display('div-gpt-ad-1406570316312-1');
            });
          </script>
        </div>

      </div>


    </div>
  </section>

{% endblock %}
