//Breakpoints
$bp-shale-lg: new-breakpoint(min-width 1081px);
$bp-shale-med: new-breakpoint(min-width 765px max-width 1080px);
$bp-shale-small: new-breakpoint(min-width 500px max-width 764px);

$bp-landing-large: new-breakpoint(min-width 1000px);
$bp-landing-medium: new-breakpoint(min-width 755px max-width 999px);
$bp-landing-small: new-breakpoint(min-width 400px max-width 754px);
$bp-landing-tiny: new-breakpoint(min-width 399px);

$bp-shale-ad: new-breakpoint(min-width 870px);

$bp-thumbnails: new-breakpoint(min-width 500px);
