.down-arrow,
.play-button {
  display: inline-block;
  height: 2.25em;
  margin-right: 1em;
  width: 2.25em;
}

.down-arrow {
  background: $red;
  background: url('../images/icons/ShaleLife-btn-arrow-down.png') no-repeat;
  background-position: center center;
  background-size: cover;
}

.play-button {
  background: $red;
  background: url('../images/icons/ShaleLife-btn-play.png') no-repeat;
  background-color: $red;
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-size: cover;

  &:hover {
    background-color: rgba(0, 0, 0, 0);
  }

}

//Override button yellow
.play-button:hover:not(:disabled),
.play-button:hover:not(:disabled) ,
.play-button:active:not(:disabled),
.play-button:focus:not(:disabled) {
  background-color: $red;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.mfp-iframe-scaler button:hover:not(:disabled),
.mfp-iframe-scaler button:hover:not(:disabled) ,
.mfp-iframe-scaler button:active:not(:disabled),
.mfp-iframe-scaler button:focus:not(:disabled) {
  background-color: $red;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
