/* COLORS */

$tan: rgb(224, 209, 177);
$tan-transparent: transparentize($tan, .15);
$yellow: rgb(234, 211, 45);
$off-black: rgb(26, 26, 26);
$grey: rgb(51, 51, 51);
$blue: rgb(49, 87, 123);
$denim: rgb(105, 138, 173);
$light-denim: rgb(151, 199, 249);
$dark-denim: rgb(66, 80, 100);
$red: rgb(160, 20, 20);
$orange: rgba(255, 120, 67, .5);
$off-white: rgb(240, 240, 240);
$teal-transparent: transparentize($teal, .7);
