.COTTON_FARMERS {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ COTTON_FARMERS.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ COTTON_FARMERS.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ COTTON_FARMERS.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ COTTON_FARMERS.LANDING_LG_IMG_URL }}');
    }
  }
}

.LOVING_COUNTY {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ LOVING_COUNTY.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ LOVING_COUNTY.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ LOVING_COUNTY.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ LOVING_COUNTY.LANDING_LG_IMG_URL }}');
    }
  }
}

.RESPONDERS {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ RESPONDERS.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ RESPONDERS.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ RESPONDERS.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ RESPONDERS.LANDING_LG_IMG_URL }}');
    }
  }
}

//Big square
.EAGLE_FORD_ACCIDENTS {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.LANDING_LG_IMG_URL }}');
    }
  }
}

.KARNES {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ KARNES.LANDING_LG_IMG_URL }}');
    }
  }
}

.FOOTBALL {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ FOOTBALL.LANDING_LG_IMG_URL }}');
    }
  }
}

.BUSES {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BUSES.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BUSES.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BUSES.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BUSES.LANDING_LG_IMG_URL }}');
    }
  }
}

.CHALLENGE {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CHALLENGE.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CHALLENGE.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CHALLENGE.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CHALLENGE.LANDING_LG_IMG_URL }}');
    }
  }
}

.OPPORTUNITY {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ OPPORTUNITY.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ OPPORTUNITY.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ OPPORTUNITY.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ OPPORTUNITY.LANDING_LG_IMG_URL }}');
    }
  }
}

.AIR_QUALITY {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ AIR_QUALITY.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ AIR_QUALITY.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ AIR_QUALITY.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ AIR_QUALITY.LANDING_LG_IMG_URL }}');
    }
  }
}

.COUNTING_HEADS {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ COUNTING_HEADS.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ COUNTING_HEADS.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ COUNTING_HEADS.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ COUNTING_HEADS.LANDING_LG_IMG_URL }}');
    }
  }
}

.PRISONS {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.LANDING_LG_IMG_URL }}');
    }
  }
}

.MAN_CAMPS {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ MAN_CAMPS.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ MAN_CAMPS.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ MAN_CAMPS.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ MAN_CAMPS.LANDING_LG_IMG_URL }}');
    }
  }
}

.CROP_DUSTER {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CROP_DUSTER.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CROP_DUSTER.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CROP_DUSTER.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CROP_DUSTER.LANDING_LG_IMG_URL }}');
    }
  }
}

.BIG_LAKE {
  &.lead-image {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.LEAD_SM_IMG_URL }}');

    @include media($bp-landing-large) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.LEAD_LG_IMG_URL }}');
    }
  }

  &.thumbnail {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.LANDING_SM_IMG_URL }}');

    @include media($bp-thumbnails) {
      background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.LANDING_LG_IMG_URL }}');
    }
  }
}
