{% extends 'app/templates/base-landing.html' %}

{% block content %}

<section class="landing-lead">
  <div class="landing-banner">
    <div class="landing-header-image">
    </div>
    <div class="container">
      <header class="landing-header">
        <div class="the-shale">
          <h1><a href="/">The Shale</a></h1>
        </div>
        <div class="life">
          <h1><a href="/">Life</a></h1>
        </div>
        <div class="subtitle">
          <h3>How an explosion in oil and gas production is changing lives and fortunes across Texas</h3>
        </div>
        <div class="explore">
          <a href="#landing-grid"><span class="down-arrow"></span></a>
        </div>
        <div  class="share-project">
          <a href="http://www.facebook.com/sharer.php?u=" title="share on Facebook" class="social-share" target="_blank"><span class="facebook"></span></a>
          <a hregf="https://twitter.com/home?status=" title="share on Twitter" class="social-share" target="_blank"><span class="twitter"></span></a>
        </div>
      </header>
    </div>
  </div>
</section>

<section id="landing-grid" class="landing-grid">
  <div class="wide left thumbnail">
    <h3>This is test one</h3>
  </div>
  <div class="square right thumbnail">
    <h3>This is test two</h3>
  </div>
  <div class="square right thumbnail">
    <h3>This is test three</h3>
  </div>
  <div class="square right thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="wide right thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="square left thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="tall right thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="square right thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="wide left thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="square left thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="wide left thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="lg-square left thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="tall left thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="square left thumbnail">
    <h3>This is test</h3>
  </div>
  <div class="square right thumbnail">
    <h3>This is test</h3>
  </div>
  <div style="clear: both;"></div>
</section>


{% endblock %}

