.nav-carousel {
  background-color: $dark-denim;
  position: relative;

  .flexslider {
    background-color: $dark-denim;
  }

  .slides {
    li {
      width: 200px;
    }

    img {
      position: relative;
      margin-bottom: .5em;
      width: 100%;
    }

    h3 {
      background-color: transparentize($red, .5);
      color: $white;
      top: 2.5em;
      padding: 1em;
      position: absolute;
      text-align: left;
      width: 200px;
    }

    p {
      color: $text-gray;
      font: 300 1em helvetica;
      line-height: 1.4em;
      margin: .75em .5em 0;
      text-align: left;
    }
  }

  .flex-direction-nav {
    .flex-next,
    .flex-prev {
      top: 50% !important;
    }
  }
  .flex-control-paging li a {
    background: $light-denim;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    cursor: pointer;
    display: block;
    height: 20px;
    margin-bottom: 16px;
    text-indent: -9999px;
    width: 5px;

    &:hover {
      background: $denim;
    }

  }

  .flex-control-paging li a.flex-active {
    background: $white;
  }
}

