$bp-landing-large: new-breakpoint(min-width 1000px);
$bp-landing-medium: new-breakpoint(min-width 600px max-width 999px);
$bp-landing-small: new-breakpoint(min-width 400px max-width 599px);
$bp-landing-tiny: new-breakpoint(min-width 399px);

$lead-image-url: 'http://placekitten.com/1000/800';

.landing-banner {
  background-color: lighten($masthead-black, 15%);
  display: table;
  margin: 0;
  position: relative;
  width: 100%;

  a {
    color: $white;
    text-decoration: none;
  }

}

.landing-header {
  @extend %content-block;
  display: block;
  position: relative;
  text-align: center;
  margin-top: 5%;
  vertical-align: middle;

  @include media($bp-landing-small) {
    @include span-columns(12);
    @include shift(0);
  }


  @include media($bp-landing-medium) {
    @include span-columns(10);
    @include shift(1);
  }

  @include media($bp-landing-large) {
    @include span-columns(10);
    @include shift(1);
  }

}

.landing-header-image {
  background-image: url($lead-image-url);
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

}

.the-shale {
  h1 {
    margin-top: .25em;
  }
}

.life {
  h1 {
    margin-bottom: 0;
  }

  @include media($bp-landing-large) {
    @include span-columns(4);
    h1 {
     margin-bottom: .25em;
    }
  }

  @include media($bp-landing-medium) {
    @include span-columns(4);
    h1 {
     margin-bottom: .25em;
    }
  }
}

.subtitle,
.share-project {
  @include media($bp-landing-large) {
    @include span-columns(7);
  }
  @include media($bp-landing-medium) {
    @include span-columns(7);
  }
}

.subtitle {
  border-top: 2px solid $yellow;
  padding-top: 1em;
  margin-top: 1.2em;
}

.explore {
  @include span-columns(8);
  text-align: left;
  margin-bottom: 1em;

  @include media($bp-landing-large) {
    @include span-columns(4);
  }
  // @include media($bp-landing-medium) {
  //   @include span-columns(4);
  // }
}

.share-project {
  @include span-columns(4);
  a {
    text-align: right;
  }
  margin: 0;
}


.thumbnail {
  display: inline-block;
  position: relative;
  border: 1px solid black;

  h3 {
    background-color: transparentize($red, .5);
    color: $white;
    position: absolute;
    text-align: left;
    bottom: 10%;
    padding: .25em;

    &:hover {
      background-color: transparentize($red, .1);
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.wide,
.square,
.tall,
.lg-square {
  background-position: center center;
  background-size: cover;
}
.wide,
.lg-square {
  width: 50%;
}

.square,
.tall {
  width: 25%;
}

.hide-until-load {
  visibility: hidden;
}
