/* Masthead override */

$bp-masthead: new-breakpoint(min-width 800px);

.branding {
  color: $white;
  font-size: 1em;
  padding: 0.75em .5em 0.375em;
  width: 0%;

  img {
    float: left;
    padding-left: .5em;
  }

  i,
  h3 {
    color: $white;
    float: right;
  }

  i {
    font-size: 2em;
    padding: .1em .5em 0 0;
  }

  h3 {
    font-size: 1em;
    text-transform: uppercase;
    border-left: 2px solid $yellow;
    padding: .5em;
  }

  a {
    color: $white;
  }
}

.more-stories {
  visibility: hidden;

  @include media($bp-masthead) {
    float: right;
    visibility: visible;
    padding: .5em 1em;
  }
}

.trib-shale-logo {
  height: 2.5em;
}

.trib-shale-logo.mobile {
  display: inline-block;

  @include media($bp-masthead) {
    display: none;
  }
}

.trib-shale-logo.desktop {
  display: none;

  @include media($bp-masthead) {
    display: inline-block;
  }
}
