/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2..html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}  

.slides,
.flex-control-nav,
.flex-direction-nav {
  list-style: none;
  margin: 0; 
  padding: 0; 
}  


/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('fonts/flexslider-icon.woff') format('woff'),
    url('fonts/flexslider-icon.ttf') format('truetype'),
    url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  clear: both;
  margin: 0; 
  padding: 0;
  position: relative;
  margin: 1em;   
}  

.slides > li {
  -webkit-backface-visibility: hidden;
  background-color: $bodytext-black;
  display: none;
  padding: .5em;
  margin: 0 .5em 1em; 
}  

 /* Hide the slides before the JS is loaded. Avoids image jumping */
.slides {

  img {
    display: block; 
    float: left; 
    margin-bottom: .5em; 
    width: 100%; 
  }  

  h3 {
    color: $text-gray; 
    font: 700 1.2em Helvetica; 
    text-align: center; 
    width: 100%; 
  }  

  p { 
    color: $text-gray;
    font: 300 1em helvetica; 
    line-height: 1.4em; 
    margin: .75em .5em 0; 
    text-align: left; 
  }  

}

.flex-pauseplay span { 
  text-transform: capitalize; 
}  


/* Clearfix for the .slides element */
.slides:after {
  content: "\0020"; 
  display: block; 
  clear: both; 
  visibility: hidden; 
  line-height: 0; 
  height: 0; 
}  

html[xmlns] .slides {
  display: block; 
}  


/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; 
}  


/* FlexSlider Default Theme
*********************************/

.flex-viewport {
  -webkit-transition: all 1s ease; 
  -moz-transition: all 1s ease; 
  -o-transition: all 1s ease; 
  transition: all 1s ease; 
  }

/* Direction Nav */

.flex-direction-nav a  {
  -moz-transition: all .3s ease; 
  -webkit-transition: all .3s ease; 
  color: rgba(0, 0, 0, .8); 
  cursor: pointer; 
  display: block; 
  height: 50px; 
  margin: -20px 0 0; 
  opacity: 0; 
  overflow: hidden; 
  position: absolute; 
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .3); 
  top: 50%; 
  transition: all .3s ease; 
  width: 50px; 
  z-index: 10; 
  }

.flex-direction-nav .flex-prev {
  background: url(https://s3.amazonaws.com/apps.texastribune.org/branding/previous-arrow44x44.png) no-repeat 50%; 
  left: -50px; 
  }

.flex-direction-nav .flex-next {
  background: url(https://s3.amazonaws.com/apps.texastribune.org/branding/next-arrow44x44%202.png) no-repeat 50%; 
  right: -50px; 
  text-align: right; 

  }
.flexslider:hover .flex-prev {
  opacity: .7; 
  left: 10px; 
  }

.flexslider:hover .flex-next {
  opacity: .7; 
  right: 10px; 
  }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; 
  }

.flex-direction-nav .flex-disabled {
  cursor: default; 
  filter:alpha(opacity=0); 
  opacity: 0!important; 
  }

.flex-direction-nav a:before  {
  display: inline-block; 
  font-family: "flexslider-icon"; 
  font-size: 40px; 
}  

/* Pause/Play */
.flex-pauseplay a {
  
  bottom: 5px; 
  color: #000; 
  cursor: pointer; 
  display: block; 
  height: 20px; 
  left: 10px; 
  opacity: .8; 
  overflow: hidden; 
  position: absolute; 
  width: 20px; 
  z-index: 10; 
  }

.flex-pauseplay a:before  {
  
  font-family: "flexslider-icon"; 
  font-size: 20px; 
  display: inline-block; 
  content: '\f004'; 
  }
.flex-pauseplay a:hover  {
  
  opacity: 1; 
  }
.flex-pauseplay a.flex-play:before {
  
  content: '\f003'; 
  }

/* Control Nav */
.flex-control-nav {
  width: 100%; 
  bottom: -40px; 
  text-align: center; 
  margin: 0 0 .5em 0; 
  clear: both; 
}  

.flex-control-nav li {
  margin: 0 6px; 
  display: inline-block; 
  zoom: 1; 
  *display: inline; 
}  

.flex-control-paging li a {
  width: 11px; 
  height: 11px; 
  display: block; 
  background: $teal-transparent;
  cursor: pointer; 
  text-indent: -9999px; 
  -webkit-border-radius: 20px; 
  -moz-border-radius: 20px; 
  -o-border-radius: 20px; 
  border-radius: 20px; 
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3); 
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,.3); 
  -o-box-shadow: inset 0 0 3px rgba(0,0,0,.3); 
  box-shadow: inset 0 0 3px rgba(0,0,0,.3);

  &:hover {
    background: $teal;
  }


}

.flex-control-paging li a.flex-active {
  background: $teal;
}

.flex-control-thumbs {
  margin: 5px 0 0; 
  overflow: hidden; 
  position: static; 

  li {
    width: 25%; 
    float: left; 
    margin: 0; 
  }

  img {
    cursor: pointer;
    display: block; 
    opacity: .7; 
    width: 100%; 

    &:hover {
      opacity: 1; 
    }   
  }

  .flex-active {
    cursor: default; 
    opacity: 1; 
  } 
}  

@media screen and (max-width: 860px) {
  
  .flex-direction-nav .flex-prev {
    opacity: .2; 
    left: 10px; 
  }  

  .flex-direction-nav .flex-next {
  
  opacity: .2; 
  right: 10px; 
}  

}