$bp-prototype: new-breakpoint(min-width 800px);

.context-box {
  border: 1px solid $teal;
  margin: 1em 0;

  @include media($bp-prototype) {
    @include span-columns(8);
    @include omega();
    margin-top: 0;
  }
}

.context {
  display: none;

  @include media($bp-prototype) {
    display: block;
    margin-top: 0;
    @include span-columns(8);
    @include omega();
  }
}

.mini-map {
  margin-right: 1em;
  
  img {
    height: 100px;
    width: 100px;
  };

  @include media($bp-prototype) {
    @include span-columns(4);
    margin-top: 0;

    img {
      max-height: 175px;
      max-width: 175px;
    }
  }
}

.video-wrapper { 
  @include features-layout($bp-prototype, 12, 8);
}

.intro-text {
  @include media($bp-prototype) {
    @include span-columns(4);
  }
}