{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ RESPONDERS.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ RESPONDERS.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ RESPONDERS.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ RESPONDERS.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="{{ RESPONDERS.SHARE_URL }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="{{ RESPONDERS.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ RESPONDERS.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ RESPONDERS.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ RESPONDERS.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="{{ RESPONDERS.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}
  <section class="lead-content">
    <div class="RESPONDERS lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div id="video-lead">
          <div class="nav-ref">
            <h1>{{RESPONDERS.SHORT_HEAD}}</h1>
            <hr class="shale-yellow">
          </div>
          <div class="video-start lead-text">
            <a class="video" href="http://www.youtube.com/watch?v={{ RESPONDERS.VIDEO_URL }}"><button class="play-button"></button></a>

            <p>Watch Video</p>
          </div>

          <div class="share-story">
            <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{RESPONDERS.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ RESPONDERS.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ RESPONDERS.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="https://twitter.com/home?status={{ RESPONDERS.ENCRYPTED_TWEET }}%20{{ RESPONDERS.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
        </div>

      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ RESPONDERS.LONG_HEAD }}</h2>

            {{ RESPONDERS.INTRO_TEXT }}

            <p class="byline">{{ RESPONDERS.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ RESPONDERS.MAP_URL }}">
            <h4>{{ RESPONDERS.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Midland County by the Numbers</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>2000</th>
                <th>2010</th>
                <th>2013</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Population">Population</td>
                <td data-title="{{ RESPONDERS.Data_Col1 }}">{{ RESPONDERS.Pop2000 }}</td>
                <td data-title="{{ RESPONDERS.Data_Col2 }}">{{ RESPONDERS.Pop2010 }}</td>
                <td data-title="{{ RESPONDERS.Data_Col2 }}">{{ RESPONDERS.Pop2013 }}</td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ RESPONDERS.Data_Col1 }}</th>
                <th>{{ RESPONDERS.Data_Col2 }}</th>
                <th>{{ RESPONDERS.Data_Col3 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ RESPONDERS.Data_Title_A }}">{{ RESPONDERS.Data_Title_A }}</td>
                <td data-title="{{ RESPONDERS.Data_Col1 }}">{{ RESPONDERS.Data_A_1 }}</td>
                <td data-title="{{ RESPONDERS.Data_Col2 }}">{{ RESPONDERS.Data_A_2 }}</td>
                <td data-title="{{ RESPONDERS.Data_Col3 }}">{{ RESPONDERS.Data_A_3 }}</td>
              </tr>
              <tr>
                <td data-title="{{ RESPONDERS.Data_Title_B }}">{{ RESPONDERS.Data_Title_B }}</td>
                <td data-title="{{ RESPONDERS.Data_Col1 }}">{{ RESPONDERS.Data_B_1 }}</td>
                <td data-title="{{ RESPONDERS.Data_Col2 }}">{{ RESPONDERS.Data_B_2 }}</td>
                <td data-title="{{ RESPONDERS.Data_Col3 }}">{{ RESPONDERS.Data_B_3 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ RESPONDERS.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
          <script>
            googletag.cmd.push(function() {
              googletag.display('div-gpt-ad-1406570316312-1');
            });
          </script>
        </div>

      </div>


    </div>
  </section>

{% endblock %}
