/* Tribune Masthead */

.masthead {
  background-color: $masthead-black;
  border-bottom: 1px solid $line-gray;
  width: 100%;

  .branding {
    float: left;
    padding: .75em .25em .375em;

    .trib-logo {
      height: 1.5em;
    }
  }

  .home {
    color: $white;
    float: right;
    font-size: 1em;
    padding: .25em;

    i {
      font-size: 2em;
    }
  }
}
