{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ PRISONS.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ PRISONS.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ PRISONS.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ PRISONS.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="{{ PRISONS.SHARE_URL }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="{{ PRISONS.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ PRISONS.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ PRISONS.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ PRISONS.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="{{ PRISONS.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->

{% block content %}





  <section class="lead-content">
    <div class="PRISONS lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div class="flexslider slideshow" id="slideshow">
          <ul class="slides">
            <li>
              <div class="nav-ref">
                <h1>{{PRISONS.SHORT_HEAD}}</h1>
<!--                 <h3>{{PRISONS.LONG_HEAD}}</h3>
 -->              <hr class="shale-yellow">
              </div>


              <div class="slideshow-start lead-text">
                <p>Play Slideshow</p>
              </div>

              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{PRISONS.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ PRISONS.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ PRISONS.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/home?status={{ PRISONS.ENCRYPTED_TWEET }}%20{{ PRISONS.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_1_URL }}" alt="{{ PRISONS.PHOTO_1_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_1_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_2_URL }}" alt="{{ PRISONS.PHOTO_2_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_2_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_3_URL }}" alt="{{ PRISONS.PHOTO_3_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_3_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_4_URL }}" alt="{{ PRISONS.PHOTO_4_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_4_CAPTION }} <span class="soundcite" data-url="http://s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_4_AUDIO }}" data-start="0" data-end="0">Listen.</span></p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_5_URL }}" alt="{{ PRISONS.PHOTO_5_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_5_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_6_URL }}" alt="{{ PRISONS.PHOTO_6_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_6_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_7_URL }}" alt="{{ PRISONS.PHOTO_7_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_7_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_8_URL }}" alt="{{ PRISONS.PHOTO_8_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_8_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_9_URL }}" alt="{{ PRISONS.PHOTO_9_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_9_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_10_URL }}" alt="{{ PRISONS.PHOTO_10_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_10_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_11_URL }}" alt="{{ PRISONS.PHOTO_11_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_11_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_12_URL }}" alt="{{ PRISONS.PHOTO_12_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_12_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_13_URL }}" alt="{{ PRISONS.PHOTO_13_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_13_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ PRISONS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.PHOTO_14_URL }}" alt="{{ PRISONS.PHOTO_14_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_14_CAPTION }}</p>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ PRISONS.LONG_HEAD }}</h2>

            {{ PRISONS.INTRO_TEXT }}

            <p class="byline">{{ PRISONS.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ PRISONS.MAP_URL }}">
            <h4>{{ PRISONS.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Prison Guard Turnover Rate</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th>Year</th>
                <th>{{ PRISONS.Data_Col1 }}</th>
                <th>{{ PRISONS.Data_Col2 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ PRISONS.Data_Title_A }}">{{ PRISONS.Data_Title_A }}</td>
                <td data-title="{{ PRISONS.Data_Col1 }}">{{ PRISONS.Data_A_1 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Data_A_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ PRISONS.Data_Title_B }}">{{ PRISONS.Data_Title_B }}</td>
                <td data-title="{{ PRISONS.Data_Col1 }}">{{ PRISONS.Data_B_1 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Data_B_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ PRISONS.Data_Title_C }}">{{ PRISONS.Data_Title_C }}</td>
                <td data-title="{{ PRISONS.Data_Col1 }}">{{ PRISONS.Data_C_1 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Data_C_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ PRISONS.Data_Title_D }}">{{ PRISONS.Data_Title_D }}</td>
                <td data-title="{{ PRISONS.Data_Col1 }}">{{ PRISONS.Data_D_1 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Data_D_2 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ PRISONS.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        {% include 'app/templates/includes/box_ad.html' %}

      </div>


    </div>
  </section>

{% endblock %}
