{% extends 'app/templates/base.html' %}

{% block content %}



<!--     <div class="video-wrapper">
      <iframe width="560" height="315" src="//www.youtube.com/embed/NIAIb1m9xMM" frameborder="0" allowfullscreen></iframe>
    </div>
 -->

  <section class="lead-content">
    <div class="lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div class="flexslider slideshow" id="slideshow">
          <ul class="slides">
            <li>
              <div class="nav-ref">
                <h1>{{PRISONS.SHORT_HEAD}}</h1>
<!--                 <h3>{{PRISONS.LONG_HEAD}}</h3>
 -->              <hr class="shale-yellow">
              </div>


              <div class="slideshow-start lead-text">
                <p>Play Slideshow</p>
              </div>

              <div class="share-story">
                <a href="http://www.facebook.com/sharer.php?u=" title="share on Facebook" class="social-share" target="_blank"><span class="facebook"></span></a>
                <a hregf="https://twitter.com/home?status=" title="share on Twitter" class="social-share" target="_blank"><span class="twitter"></span></a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">

                <div class="slideshow-title lead-text">
                  <h4>Here is an image</h4>
                </div>

                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>

                <img src="{{ PRISONS.PHOTO_1_URL }}">

              </div>

              <div class="slideshow-caption lead-text">
                <p>{{ PRISONS.PHOTO_1_CAPTION }}</p>
              </div>

              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">

                <div class="slideshow-title lead-text">
                  <h4>Here is an image</h4>
                </div>

                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>

                <img src="http://placehold.it/720x405">

              </div>

              <div class="slideshow-caption lead-text">
                <p>Beard keytar tousled Brooklyn Helvetica, chia Pitchfork brunch shabby chic trust fund. +1 Austin scenester flannel Banksy typewriter mlkshk narwhal, drinking vinegar letterpress Portland biodiesel umami.</p>
              </div>

              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">

                <div class="slideshow-title lead-text">
                  <h4>Here is an image</h4>
                </div>

                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>

                <img src="http://placehold.it/720x405">

              </div>

              <div class="slideshow-caption lead-text">
                <p>Beard keytar tousled Brooklyn Helvetica, chia Pitchfork brunch shabby chic trust fund. +1 Austin scenester flannel Banksy typewriter mlkshk narwhal, drinking vinegar letterpress Portland biodiesel umami.</p>
              </div>

              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">

                <div class="slideshow-title lead-text">
                  <h4>Here is an image</h4>
                </div>

                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>

                <img src="http://placehold.it/720x405">

              </div>

              <div class="slideshow-caption lead-text">
                <p>Beard keytar tousled Brooklyn Helvetica, chia Pitchfork brunch shabby chic trust fund. +1 Austin scenester flannel Banksy typewriter mlkshk narwhal, drinking vinegar letterpress Portland biodiesel umami.</p>
              </div>

              <div class="share-story">
                <span class="facebook"></span>
                <span class="twitter"></span>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ PRISONS.LONG_HEAD }}</h2>

            {{ PRISONS.INTRO_TEXT }}

            <p class="byline">{{ PRISONS.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="/images/ShaleLife-TxMap-placeholder.gif">
            <h4>{{ PRISONS.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Additional Information</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>2000</th>
                <th>2010</th>
                <th>2013</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Census Population">Census Population</td>
                <td data-title="{{ PRISONS.Data_Col1 }}">{{ PRISONS.Pop2000 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Pop2010 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Pop2013 }}</td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th>Staff Turnover</th>
                <th>{{ PRISONS.Data_Col1 }}</th>
                <th>{{ PRISONS.Data_Col2 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ PRISONS.Data_Title_A }}">{{ PRISONS.Data_Title_A }}</td>
                <td data-title="{{ PRISONS.Data_Col1 }}">{{ PRISONS.Data_A_1 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Data_A_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ PRISONS.Data_Title_B }}">{{ PRISONS.Data_Title_B }}</td>
                <td data-title="{{ PRISONS.Data_Col1 }}">{{ PRISONS.Data_B_1 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Data_B_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ PRISONS.Data_Title_C }}">{{ PRISONS.Data_Title_C }}</td>
                <td data-title="{{ PRISONS.Data_Col1 }}">{{ PRISONS.Data_C_1 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Data_C_2 }}</td>
              </tr>
              <tr>
                <td data-title="{{ PRISONS.Data_Title_D }}">{{ PRISONS.Data_Title_D }}</td>
                <td data-title="{{ PRISONS.Data_Col1 }}">{{ PRISONS.Data_D_1 }}</td>
                <td data-title="{{ PRISONS.Data_Col2 }}">{{ PRISONS.Data_D_2 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ PRISONS.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
          <script>
            googletag.cmd.push(function() {
              googletag.display('div-gpt-ad-1406570316312-1');
            });
          </script>
        </div>

      </div>


    </div>
  </section>

{% endblock %}
