//Breakpoints

$bp-shale-lg: new-breakpoint(min-width 1000px);
$bp-shale-med: new-breakpoint(min-width 600.1px max-width 999.99px);
$bp-shale-small: new-breakpoint(max-width 600px);

// Short-Hed
h1 {
  color: $white;
  font-weight: 300;
  font-size: 6em;
  font-family: league-gothic;
  line-height: .95em;
  text-align: left;
  text-transform: uppercase;

  @include media($bp-shale-lg) {
    font-size: 12em;
  }

  @include media($bp-shale-med) {
    font-size: 10em;
  }
}

h2,
h3,
h4 {
  color: $dark-denim;
  font-weight: 600;
  font-size: 1.5em;
  font-family: pt-sans;
  letter-spacing: .05em;
  line-height: 1.2em;
  text-align: left;
}

// Long-Hed
h2 {
  text-transform: uppercase;
}

// Main Tagline, Slideshow Title
h3 {
    color: $white;
    letter-spacing: .06em;
}

h4 {
  clear: both;
  font-family: pt-sans-narrow;
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
  text-align: left;
}

p {
  font-size: 1em;
  font-family: pt-sans;
  line-height: 1.2em;
  text-align: left;
}

hr.shale-yellow {
  background-color: $yellow;
  border: 0 none;
  height: 2px;
  margin-bottom: 2em;
}

// story-content


.story-prose {
  margin-top: 1em;

  @include media($bp-shale-med) {
    @include span-columns(6 of 10);
  }

  @include media($bp-shale-lg) {
    @include span-columns(6 of 10);
  }

  p {
    color: $off-black;
    font-weight: 500;
    margin: .5em 0 2em;
  }

  .byline {
    color: $dark-denim;
    font-style: italic;
    font-weight: 400;
    font-size: .95em;
    line-height: 1.3em;
  }

}




.map {
  @include media($bp-shale-med) {
    @include span-columns(4 of 10);
  }

  @include media($bp-shale-lg) {
    @include span-columns(4 of 10);
  }

  img {
    width: 90%;
  }
}

.data-context {
  position: relative;
}

.data-box {
  @extend %content-block;
  margin-top: 1em;

  @include media($bp-shale-lg) {
    @include span-columns (6 of 12);
    @include shift(1);
  }

  table {
    color: $off-white;
    font-size: .9em;
    font-family: pt-sans;
    letter-spacing: 1px;
  }

  th {
    color: $white;
    font-weight: 800;
    font-size: 1em;
    line-height: 1.2em;
  }

  tr {
    &:nth-child(odd) td {
      background-color: $grey;
    }
  }

}

.nav-carousel {
  background-color: $dark-denim;
  position: relative;
}

/*START ABOUT*/

// h2 .about-header {
//   color: rgb(105, 138, 173);
//   font: 600 1.5em pt-sans;
//   letter-spacing: 0.05em;
//   line-height: 1.2em;
//   text-align: left;
//   text-transform: uppercase;
// }

// .about-name {
//   color: rgb(240, 240, 240);
//   font: 800 1.1em pt-sans;
//   letter-spacing: 1px;
//   text-align: left;
// }

// .about-body-text {
//   color: rgb(240, 240, 240);
//   font: 400 1em pt-sans;
//   line-height: 1.2em;
//   text-align: left;
// }

// a :hover .about-body-text { color: rgb(151, 199, 249); }

