$bp-landing-large: new-breakpoint(min-width 1000px);
$bp-landing-medium: new-breakpoint(min-width 600px max-width 999px);
$bp-landing-small: new-breakpoint(min-width 400px max-width 599px);
$bp-landing-tiny: new-breakpoint(min-width 399px);

$lead-image-url: 'http://placekitten.com/1000/800';

.landing-banner {
  background-color: lighten($masthead-black, 15%);
  display: table;
  margin: 0 0 1.5em;
  position: relative;
  width: 100%;

  a {
    color: $white;
    text-decoration: none;
  }

}

.landing-header {
  @extend %content-block;
  display: block;
  position: relative;
  text-align: center;
  margin-top: 5%;
  vertical-align: middle;

  h1 {
    font-size: 5em;
  }

  @include media($bp-landing-small) {
    @include span-columns(12);
    @include shift(0);

    h1 {
      font-size: 10em;
      // text-align: right;
    }
  }


  @include media($bp-landing-medium) {
    @include span-columns(10);
    @include shift(1);

    h1 {
      font-size: 13em;
      // text-align: right;
    }
  }

  @include media($bp-landing-large) {
    @include span-columns(10);
    @include shift(1);

    h1 {
      font-size: 15em;
      // text-align: left;
    }
  }

}

.landing-header-image {
  background-image: url($lead-image-url);
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

}

.the-shale {
  h1 {
    margin-top: .25em;
  }
}

.life {
  h1 {
    margin-bottom: 0;
  }

  @include media($bp-landing-large) {
    @include span-columns(4);
    h1 {
     margin-bottom: .25em;
    }
  }
}

.subtitle,
.share-project {
  @include media($bp-landing-large) {
    @include span-columns(7);
  }
}

.subtitle {
  border-top: 2px solid $yellow;
  padding-top: 1em;
  margin-top: 1.2em;
}

.about-button {
  border: 2px solid $yellow;
  float: left;
  padding: .5em;
  max-width: 275px;

    a {
      margin-top: .5em;
    }
}

.share-project {
  @include span-columns(4);
  a {
    text-align: right;
  }
  margin: 0;
}

.explore {
  @include span-columns(8);
  text-align: left;
  margin-bottom: 1em;

  @include media($bp-landing-large) {
    @include span-columns(4);
  }
}


.thumbnail {
  display: inline;
  position: relative;
  font-size: 0;
  line-height: 0;

  h3 {
    background-color: transparentize($red, .5);
    color: $white;
    position: absolute;
    text-align: left;

    &:hover {
      background-color: transparentize($red, .1);
    }
  }
}

.square {
  // width: 25%;
  img {
    width: 25%;
  }
}

.wide {
  // width: 50%;
  img {
    width: 50%;
  }
}

.lg-square {
  width: 50%;
  img {
    width: 100%;
  }
}
.tall {
  width: 25%;
  img {
    width: 100%;
  }
}
.left {
  float: left;
}

.right {
  float: right;
}

