//Breakpoints

$bp-shale-lg: new-breakpoint(min-width 985px);

// Header

.grand-header,
.story {
  @include media($bp-shale-lg) {
    @include span-columns (10 of 12);
    @include shift(1);
  }
}

h1 {
  color: $white;
  font-weight: 300;
  font-size: 12em;
  font-family: league-gothic;
  line-height: .95em;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  // .subheader,
  // .nav-slide-story
    color: $white;
    font-weight: 600;
    font-size: 1.5em;
    font-family: pt-sans;
    letter-spacing: .06em;
    text-align: left;
}

p {
  font-size: 1em;
  font-family: pt-sans;
  line-height: 1.2em;
  text-align: left;
}

hr.shale-yellow {
  background-color: $yellow;
  border: 0 none;
  height: 2px;
  margin-bottom: 2em;
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
  color: $red;
}


.lead-text-box {
  display: inline-block;

  p {
    // .slideshow-text
    color: $white;
    display: inline-block;
    font-weight: 400;
    text-align: left;

    a {
      text-decoration: none;
      &:hover {
        color: $light-denim;
      }
    }
  }
}

.slideshow-nav,
.share-story {
  @include media($bp-shale-lg) {
    @include span-columns(1);
  }
}

.slideshow-text {
  @include media($bp-shale-lg) {
    @include span-columns(8);
  }
}

.slideshow-title {
  color: $white;
  font-weight: 500;
  font-size: 1.3em;
  font-family: pt-sans;
  text-align: left;
}

// story-content

.story-content {
  background-color: $tan-transparent;
}

h2 {
  color: $dark-denim;
  font-weight: 600;
  font-size: 1.5em;
  font-family: pt-sans;
  letter-spacing: .05em;
  line-height: 1.2em;
  text-align: left;
  text-transform: uppercase;
}

.story {
  @include media($bp-shale-lg) {
    @include span-columns(6);
  }

  p {
    color: $off-black;
    font-weight: 500;
    margin: .5em 0 2em;
  }

  .byline {
    color: $dark-denim;
    font-style: italic;
    font-weight: 400;
    font-size: .95em;
    line-height: 1.3em;
  }

}

h4 {
  clear: both;
  color: $dark-denim;
  font-family: pt-sans-narrow;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.2em;
  position: relative;
  text-align: left;
}


.map {
  @include media($bp-shale-lg) {
    @include span-columns(4);
  }

  img {
    width: 90%;
  }
}

.data-box {
  @include media($bp-shale-lg) {
    @include span-columns (6 of 12);
    @include shift(1);
  }

  table {
    color: $off-white;
    font-size: .9em;
    font-family: pt-sans;
    letter-spacing: 1px;
  }

  th {
    color: $white;
    font-weight: 800;
    font-size: 1em;
    line-height: 1.2em;
  }

  tr {
    &:nth-child(odd) td {
      background-color: $grey;
    }
  }

}

