.landing-banner {
  background-color: lighten($masthead-black, 15%);
  display: table;
  margin: 0;
  position: relative;
  width: 100%;

  a {
    color: $white;
    text-decoration: none;
  }

}

.landing-header {
  @extend %content-block;
  display: block;
  margin-top: 5%;
  position: relative;
  text-align: center;
  vertical-align: middle;

  @include media($bp-landing-small) {
    @include span-columns(12);
    @include shift(0);
  }


  @include media($bp-landing-medium) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($bp-landing-large) {
    @include span-columns(8);
    @include shift(2);
  }

}

.landing-header-image {
  background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ LANDING.LEAD_SM_IMG_URL }}');
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  @include media($bp-landing-large) {
    background-image: url('//s3.amazonaws.com/static.texastribune.org/media/shale/{{ LANDING.LEAD_LG_IMG_URL }}');
  }

}

.the-shale {
  h1 {
    margin-top: .25em;
  }
}

.life {
  h1 {
    margin-bottom: 0;
  }

  @include media($bp-landing-large) {
    @include span-columns(5);
    h1 {
     margin-bottom: .25em;
    }
  }

  @include media($bp-landing-medium) {
    @include span-columns(5);
    h1 {
     margin-bottom: .25em;
    }
  }
}

.subtitle,
.share-project {
  @include media($bp-landing-large) {
    @include span-columns(5);
  }
  @include media($bp-landing-medium) {
    @include span-columns(5);
  }
}

.subtitle {
  border-top: 2px solid $yellow;
  padding-top: 1em;
  margin-top: 1.2em;
}

.explore {
  @include span-columns(8);
  text-align: left;
  margin-bottom: 1em;

  @include media($bp-landing-large) {
    @include span-columns(4);
  }
  // @include media($bp-landing-medium) {
  //   @include span-columns(4);
  // }
}

.share-project {
  text-align: right;
  @include span-columns(4);

  a {
    margin: 0;
  }
}

a {
  .thumbnail {
    border: 1px solid $off-white;
    display: inline-block;
    position: relative;

    h3 {
      background-color: transparentize($red, .5);
      bottom: 10%;
      color: $off-white;
      padding: .25em;
      position: absolute;
      text-align: left;
    }

    @include media($bp-landing-small) {
      h3 {
        font-size: 1em;
      }
    }

    @include media($bp-landing-medium) {
      h3 {
        font-size: 1em;
      }
    }
  }

  .hover-layer {
    background-color: transparentize($off-white, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include media($bp-landing-large) {
      background-color: transparentize($off-white, .9);
    }

    @include media($bp-landing-medium) {
      background-color: transparentize($off-white, .9);
    }

  }

  &:hover {
    .thumbnail h3 {
      background-color: $red;
    }

    .hover-layer {
      background-color: transparentize($off-white, 1)
    }
  }
}



.left {
  float: left;
}

.right {
  float: right;
}

.wide,
.square,
.tall,
.lg-square {
  background-position: center center;
  background-size: cover;
}

.wide,
.lg-square {
  @include media($bp-thumbnails) {
    width: 50%;
  }

}

.square,
.tall {
  @include media($bp-thumbnails) {
    width: 25%;
  }
}

.hide-until-load {
  visibility: hidden;
}
