.lead-content {
  background-color: lighten($masthead-black, 15%);
  display: table;
  margin: 0 0 1.5em;
  position: relative;
  width: 100%;
}

.lead-image {
  background-image: url('/images/ShaleLife-background-placeholder.gif');
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  @include media($bp-shale-lg) {
    background-image: url('/images/ShaleLife-background-placeholder.gif');
  }
}

// Header
.lead-header,
.story-box {
  @extend %content-block;
  display: block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  @include span-columns(12);
  @include media($bp-shale-med) {
    @include span-columns(10 of 12);
    @include shift(1);
  }

  @include media($bp-shale-lg) {
    @include span-columns(10 of 12);
    @include shift(1);
  }
}

.lead-header {
  padding-bottom: 1em;

  h1 {
    padding-top: 10%;
  }

  @include media($bp-landing-large) {
    h1 {
      font-size: 11em;
    }
  }

  @include media($bp-landing-medium) {
    h1 {
      font-size: 9em;
    }
  }

  @include media($bp-landing-small) {
    h1 {
      font-size: 5em;
    }
  }

}

.lead-text {
  color: $white;
  font-size: 1.1em;
  text-align: left;

  p {
    font-weight: 400;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $light-denim;
    }
  }
}

.slide-box {
  @include span-columns(12);

  img {
    width: 100%;
  }
}

.slideshow-title {
  @include span-columns(6 of 10);

  h4 {
    color: $white;
    font-size: 1.3em;
    font-weight: 500;
    text-align: left;
    margin-bottom: .25em;
  }
}

.slide-count {
  @include span-columns(4 of 10);
  @include omega();

  p {
    font-size: .85em;
    text-align: right;
  }
}

a.video {
  @include span-columns(4);
  border-right: 2px solid $yellow;
  margin-right: 1em;

  &:last-child {
    margin-right: 1em;
  }

  @include media($bp-shale-lg) {
    @include span-columns(3);

    &:last-child {
      margin-right: 1em;
    }
  }

  &:hover {
    color: $red;
  }
}

.video-start {
  @include span-columns(12);

  p {
    @include span-columns(12);
    // border-right: 2px solid $yellow;
  }

  @include media($bp-shale-small) {
    @include span-columns(12);
  }

  @include media($bp-shale-med) {
    @include span-columns(9);
  }

  @include media($bp-shale-lg) {
    @include span-columns(10);
  }

}

.video-prompt {
  @include media($bp-shale-lg) {
    line-height: 2.2em;
  }
}

.slideshow-start {
  @include span-columns(11);
  margin-left: 2.5em;
  text-align: left;

  @include media($bp-shale-med) {
    @include span-columns(8);
  }

  @include media($bp-shale-lg) {
    @include span-columns(9);
    line-height: 2.2em;

    p {
      margin-top: .25em;
      width: 100%;
    }

  }
}

.slideshow-prompt {
  @include span-columns(12);
  color: $red;
  margin-right: 1em;

  &:last-child {
    margin-right: 1em;
    padding: .25em 0 .5em;
  }

  @include media($bp-shale-small) {
    @include span-columns(4);
    border-right: 2px solid $yellow;
    &:last-child {
      margin-right: 1em;
      padding: .25em 0 1em;
    }
  }

  @include media($bp-shale-med) {
    @include span-columns(4);
    border-right: 2px solid $yellow;
    &:last-child {
      margin-right: 1em;
      padding: .25em 0 1em;
    }
  }

  @include media($bp-shale-lg) {
    @include span-columns(3);
    border-right: 2px solid $yellow;
    &:last-child {
      margin-right: 1em;
      padding: 0 0 1em;
    }
  }
}

.video-start,
.slideshow-start {
  p {
    color: $off-white;
    font-size: 1.3em;
    font-weight: 600;
    display: inline-block;
  }
}

.slideshow-caption {
  @include span-columns(12);
  font-size: .85em;
  margin: 4em 0 0;
  min-height: 4em;

  @include media($bp-shale-med) {
    @include span-columns(11);
    @include shift(1);
    padding-left: 4em;
    text-align: left;
    margin-top: 0;
    margin-bottom: .25em;
  }

  @include media($bp-shale-lg) {
    @include span-columns(10);
    @include shift(2);
    text-align: left;
    margin-top: 0;
    margin-bottom: .25em;
  }

}

.share-story {
  @include span-columns(12);
  // border-top: 2px solid $yellow;
  margin: 1em 0;
  padding: 1em 0 0 .5em;

  @include media($bp-shale-med) {
    @include span-columns(3);
    @include omega();
    // border-left: 2px solid $yellow;
    border-top: 0;
    margin: 0;
    padding-top: 0;
  }

  @include media($bp-shale-lg) {
    @include span-columns(2);
    @include omega();
    // border-left: 2px solid $yellow;
    border-top: 0;
    margin: 0;
    padding-top: 0;
  }

}

.story-box {
  background-color: $tan;
  background-color: $tan-transparent;
}

.story {
  text-align: center;
  vertical-align: middle;
}

.story-prose {
  margin-top: 1em;
  @include span-columns(12);

  @include media($bp-shale-lg) {
    @include span-columns(6 of 10);
  }

  @include media($bp-shale-med) {
    @include span-columns(6 of 10);
  }

  @include media($bp-shale-small) {
    @include span-columns(6 of 10);
  }

  p {
    color: $off-black;
    font-weight: 500;
    margin: .5em 0 1em;

    &.byline {
      color: $dark-denim;
      font-size: 1em;
      font-style: italic;
      font-weight: 400;
      line-height: 1.3em;
    }
  }

}

.map {
  @include span-columns(12);

  @include media($bp-shale-lg) {
    @include span-columns(4 of 10);
    @include omega();
  }

  @include media($bp-shale-med) {
    @include span-columns(4 of 10);
    @include omega();
  }

  @include media($bp-shale-small) {
    @include span-columns(4 of 10);
    @include omega();
  }

  img {
    margin: 0 auto;
    width: 80%;
  }

  h4 {
    color: $off-black;
    text-align: center;
  }
}
