$bp-shale-ad: new-breakpoint(min-width 870px);

.data-context {
  position: relative;
}

.data-box {
  @extend %content-block;
  display: block;
  margin-bottom: 1em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  @include span-columns(12);

  img {
    display: none;
  }

  @include media($bp-shale-ad) {
    @include span-columns(10);
    @include shift(1);

    img {
      display: block;
      max-width: 300px;
      width: 100%;
    }
  }

  @include media($bp-shale-lg) {
    @include span-columns(10);
    @include shift(1);

    img {
      display: block;
      max-width: 300px;
      width: 100%;
    }
  }
}

.data {
  @include span-columns(12);

  @include media($bp-shale-ad) {
    @include span-columns(5 of 10);
    @include omega();
  }

  @include media($bp-shale-lg) {
    @include span-columns(6 of 10);
    @include omega();
  }
}


