$bp-footer-lg: new-breakpoint(min-width 800px);
$bp-footer-med: new-breakpoint(min-width 400px max-width 800px);

footer {
  background: url(../images/SL-footer-bg-tread001.png) 90% 100% no-repeat;
  background-position: center center;
  background-size: cover;
  color: $white;
  font-family: pt-sans;
  font-size: .875em;
  font-weight: 200;
  text-align: left;
  line-height: 1.5em;

  a {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $light-denim;
    }
  }
}

.footer-wrapper {
  @extend %content-block;
}

.footer-logo,
.member-push,
.footer-links {

  @include span-columns(12);

  @include media($bp-footer-med) {
    margin-left: 3em;
  }

  @include media($bp-footer-lg) {
    @include span-columns(4);
  }
}

.footer-logo {
  padding-top: 1.5em;
  img {
    margin-bottom: .5em;
    max-width: 200px;
  }
}
.member-push {
  display: inline-block;

  ul {
    display: inline-block;
  }

  .bold {
    font-size: 1.3em;
    font-weight: 600;
  }

  .button {
    color: $off-black;
    font-family: pt-sans-narrow;
    font-weight: 800;
    font-size: 1.5em;
    float: right;
    margin: 1.5em 0 0;
    text-transform: uppercase;
  }

  @include media($bp-footer-med) {
    max-width: 290px;
  }
}

.footer-links {
  @include media($bp-footer-lg) {
    @include omega();
    padding-left: 2em;
    text-align: left;
  }
}
