{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ CROP_DUSTER.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ CROP_DUSTER.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ CROP_DUSTER.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ CROP_DUSTER.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="http://apps.texastribune.org/shale-life/{{ CROP_DUSTER.SLUG }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="http://s3.amazonaws.com/static.texastribune.org/media/shale/{{ CROP_DUSTER.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ CROP_DUSTER.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ CROP_DUSTER.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ CROP_DUSTER.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CROP_DUSTER.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}
  <section class="lead-content">
    <div class="CROP_DUSTER lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div id="video-lead">
          <div class="nav-ref">
            <h1>{{CROP_DUSTER.SHORT_HEAD}}</h1>
            <hr class="shale-yellow">
          </div>
          <div class="video-start lead-text">
            <a class="video" href="http://www.youtube.com/watch?v={{ CROP_DUSTER.VIDEO_URL }}"><button class="play-button"></button></a>

            <p>{{ CROP_DUSTER.PROMPT }}</p>
          </div>

          <div class="share-story">
            <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{CROP_DUSTER.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ CROP_DUSTER.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ CROP_DUSTER.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a href="https://twitter.com/intent/tweet?text={{ CROP_DUSTER.ENCRYPTED_TWEET }}%20{{ CROP_DUSTER.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
        </div>

      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ CROP_DUSTER.LONG_HEAD }}</h2>

            {{ CROP_DUSTER.INTRO_TEXT }}

            <p class="byline">{{ CROP_DUSTER.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ CROP_DUSTER.MAP_URL }}">
            <h4>{{ CROP_DUSTER.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Glasscock County by the Numbers</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>2000</th>
                <th>2010</th>
                <th>2013</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Population">Population</td>
                <td data-title="{{ CROP_DUSTER.Data_Col1 }}">{{ CROP_DUSTER.Pop2000 }}</td>
                <td data-title="{{ CROP_DUSTER.Data_Col2 }}">{{ CROP_DUSTER.Pop2010 }}</td>
                <td data-title="{{ CROP_DUSTER.Data_Col2 }}">{{ CROP_DUSTER.Pop2013 }}</td>
              </tr>
              <tr class="extra-header">
                <td></td>
                <td></td>
                <td>{{ CROP_DUSTER.Data_Col1 }}</td>
                <td>{{ CROP_DUSTER.Data_Col2 }}</td>
              </tr>
              <tr class="color-swap">
                <td data-title="{{ CROP_DUSTER.Data_Title_A }}">{{ CROP_DUSTER.Data_Title_A }}</td>
                <td></td>
                <td data-title="{{ CROP_DUSTER.Data_Col1 }}">{{ CROP_DUSTER.Data_A_1 }}</td>
                <td data-title="{{ CROP_DUSTER.Data_Col2 }}">{{ CROP_DUSTER.Data_A_2 }}</td>
              </tr>
              <tr class="color-swap">
                <td data-title="{{ CROP_DUSTER.Data_Title_B }}">{{ CROP_DUSTER.Data_Title_B }}</td>
                <td></td>
                <td data-title="{{ CROP_DUSTER.Data_Col1 }}">{{ CROP_DUSTER.Data_B_1 }}</td>
                <td data-title="{{ CROP_DUSTER.Data_Col2 }}">{{ CROP_DUSTER.Data_B_2 }}</td>
              </tr>
              <tr class="color-swap">
                <td data-title="{{ CROP_DUSTER.Data_Title_C }}">{{ CROP_DUSTER.Data_Title_C }}</td>
                <td></td>
                <td data-title="{{ CROP_DUSTER.Data_Col1 }}">{{ CROP_DUSTER.Data_C_1 }}</td>
                <td data-title="{{ CROP_DUSTER.Data_Col2 }}">{{ CROP_DUSTER.Data_C_2 }}</td>
              </tr>
              <tr class="color-swap">
                <td colspan=4><em>Source: {{ CROP_DUSTER.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        {% include 'app/templates/includes/box_ad.html' %}

      </div>


    </div>
  </section>

{% endblock %}
