{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ EAGLE_FORD_ACCIDENTS.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ EAGLE_FORD_ACCIDENTS.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ EAGLE_FORD_ACCIDENTS.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ EAGLE_FORD_ACCIDENTS.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="http://apps.texastribune.org/shale-life/{{ EAGLE_FORD_ACCIDENTS.SLUG }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="http://s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ EAGLE_FORD_ACCIDENTS.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ EAGLE_FORD_ACCIDENTS.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ EAGLE_FORD_ACCIDENTS.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}
  <section class="lead-content">
    <div class="EAGLE_FORD_ACCIDENTS lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div class="flexslider slideshow" id="slideshow">
          <ul class="slides">
            <li>
              <div class="nav-ref">
                <h1>{{EAGLE_FORD_ACCIDENTS.SHORT_HEAD}}</h1>
                <hr class="shale-yellow">
              </div>


              <div class="slideshow-start lead-text">
                <p>{{ EAGLE_FORD_ACCIDENTS.PROMPT }}</p>
              </div>

              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{EAGLE_FORD_ACCIDENTS.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ EAGLE_FORD_ACCIDENTS.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ EAGLE_FORD_ACCIDENTS.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ EAGLE_FORD_ACCIDENTS.ENCRYPTED_TWEET }}%20{{ EAGLE_FORD_ACCIDENTS.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ EAGLE_FORD_ACCIDENTS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.PHOTO_1_URL }}" alt="{{ EAGLE_FORD_ACCIDENTS.PHOTO_1_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ EAGLE_FORD_ACCIDENTS.PHOTO_1_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ EAGLE_FORD_ACCIDENTS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.PHOTO_2_URL }}" alt="{{ EAGLE_FORD_ACCIDENTS.PHOTO_2_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ EAGLE_FORD_ACCIDENTS.PHOTO_2_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ EAGLE_FORD_ACCIDENTS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.PHOTO_3_URL }}" alt="{{ EAGLE_FORD_ACCIDENTS.PHOTO_3_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ EAGLE_FORD_ACCIDENTS.PHOTO_3_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ EAGLE_FORD_ACCIDENTS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.PHOTO_4_URL }}" alt="{{ EAGLE_FORD_ACCIDENTS.PHOTO_4_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ EAGLE_FORD_ACCIDENTS.PHOTO_4_CAPTION }}</p>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ EAGLE_FORD_ACCIDENTS.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.PHOTO_5_URL }}" alt="{{ EAGLE_FORD_ACCIDENTS.PHOTO_5_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ EAGLE_FORD_ACCIDENTS.PHOTO_5_CAPTION }}</p>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ EAGLE_FORD_ACCIDENTS.LONG_HEAD }}</h2>

            {{ EAGLE_FORD_ACCIDENTS.INTRO_TEXT }}

            <p class="byline">{{ EAGLE_FORD_ACCIDENTS.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ EAGLE_FORD_ACCIDENTS.MAP_URL }}">
            <h4>{{ EAGLE_FORD_ACCIDENTS.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>The Shales by the Numbers</h4>
          <hr class="shale-yellow">
          <h5>Eagle Ford Shale</h5>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}</th>
                <th>{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}</th>
                <th>{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_A }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_A }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_A_1EFS }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_A_2EFS }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_A_3EFS }}</td>
              </tr>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_B }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_B }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_B_1EFS }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_B_2EFS }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_B_3EFS }}</td>
              </tr>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_C }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_C }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_C_1EFS }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_C_2EFS }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_C_3EFS }}</td>
              </tr>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_D }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_D }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_D_1EFS }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_D_2EFS }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_D_3EFS }}</td>
              </tr>
          </table>
          <h5>Permian Basin</h5>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}</th>
                <th>{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}</th>
                <th>{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_A }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_A }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_A_1PB }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_A_2PB }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_A_3PB }}</td>
              </tr>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_B }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_B }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_B_1PB }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_B_2PB }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_B_3PB }}</td>
              </tr>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_C }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_C }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_C_1PB }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_C_2PB }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_C_3PB }}</td>
              </tr>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_D }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_D }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_D_1PB }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_D_2PB }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_D_3PB }}</td>
              </tr>
            </tbody>
          </table>
          <h5>Statewide</h5>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}</th>
                <th>{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}</th>
                <th>{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_A }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_A }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_A_1TX }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_A_2TX }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_A_3TX }}</td>
              </tr>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_B }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_B }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_B_1TX }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_B_2TX }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_B_3TX }}</td>
              </tr>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_C }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_C }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_C_1TX }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_C_2TX }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_C_3TX }}</td>
              </tr>
              <tr>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Title_D }}">{{ EAGLE_FORD_ACCIDENTS.Data_Title_D }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col1 }}">{{ EAGLE_FORD_ACCIDENTS.Data_D_1TX }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col2 }}">{{ EAGLE_FORD_ACCIDENTS.Data_D_2TX }}</td>
                <td data-title="{{ EAGLE_FORD_ACCIDENTS.Data_Col3 }}">{{ EAGLE_FORD_ACCIDENTS.Data_D_3TX }}</td>
              </tr>

              <tr>
                <td colspan=4><em>Source: {{ EAGLE_FORD_ACCIDENTS.SOURCE }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        {% include 'app/templates/includes/box_ad.html' %}

      </div>


    </div>
  </section>

{% endblock %}
