{% extends 'app/templates/base.html' %}

<!-- META data -->

{% block title_row %}<title>{{ BIG_LAKE.SHORT_HEAD }} | The Shale Life </title>{% endblock %}
{% block description %}<meta name="description" content="{{ BIG_LAKE.SHARE_TWEET }}">{% endblock %}
{% block og_description %}<meta property="og:description" content="{{ BIG_LAKE.SHARE_TWEET }}">{% endblock %}
{% block og_title %}<meta property="og:title" content="{{ BIG_LAKE.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block og_url %}<meta property="og:url" content="{{ BIG_LAKE.SHARE_URL }}">{% endblock %}
{% block og_img %}<meta property="og:image" content="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.FACEBOOK_IMG }}">{% endblock %}
{% block tw_title %}<meta name="twitter:title" content="{{ BIG_LAKE.SHORT_HEAD }} | The Shale Life ">{% endblock %}
{% block tw_description %}<meta name="twitter:description" content="{{ BIG_LAKE.SHARE_TWEET }}">{% endblock %}
{% block tw_url %}<meta name="twitter:url" content="{{ BIG_LAKE.SHARE_URL }}">{% endblock %}
{% block tw_img %}<meta name="twitter:image" content="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.FACEBOOK_IMG }}">{% endblock %}


<!-- Main Content -->
{% block content %}
  <section class="lead-content">
    <div class="BIG_LAKE lead-image"></div>
    <div class="container">
      <header class="lead-header">
        <div class="flexslider slideshow" id="slideshow">
          <ul class="slides">
            <li>
              <div class="nav-ref">
                <h1>{{BIG_LAKE.SHORT_HEAD}}</h1>
                <hr class="shale-yellow">
              </div>


              <div class="slideshow-start lead-text">
                <p>{{ BIG_LAKE.PROMPT }}</p>
              </div>

              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_1_URL }}" alt="{{ BIG_LAKE.PHOTO_1_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_1_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_2_URL }}" alt="{{ BIG_LAKE.PHOTO_2_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_2_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_3_URL }}" alt="{{ BIG_LAKE.PHOTO_3_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_3_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_4_URL }}" alt="{{ BIG_LAKE.PHOTO_4_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_4_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_5_URL }}" alt="{{ BIG_LAKE.PHOTO_5_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_5_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_6_URL }}" alt="{{ BIG_LAKE.PHOTO_6_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_6_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_7_URL }}" alt="{{ BIG_LAKE.PHOTO_7_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_7_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_8_URL }}" alt="{{ BIG_LAKE.PHOTO_8_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_8_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_9_URL }}" alt="{{ BIG_LAKE.PHOTO_9_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_9_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_10_URL }}" alt="{{ BIG_LAKE.PHOTO_10_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_10_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_11_URL }}" alt="{{ BIG_LAKE.PHOTO_11_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_11_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_12_URL }}" alt="{{ BIG_LAKE.PHOTO_12_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_12_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_13_URL }}" alt="{{ BIG_LAKE.PHOTO_13_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_13_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
            <li>
              <div class="nav-ref slide-box">
                <div class="slideshow-title lead-text">
                  <h4>{{ BIG_LAKE.SHORT_HEAD }}</h4>
                </div>
                <div class="slide-count lead-text">
                  <p>
                    <span class="current-slide"></span> of <span class="total-slides"></span>
                  </p>
                </div>
                <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.PHOTO_14_URL }}" alt="{{ BIG_LAKE.PHOTO_14_ALT }}">
              </div>
              <div class="slideshow-caption lead-text">
                <p>{{ BIG_LAKE.PHOTO_14_CAPTION }}</p>
              </div>
              <div class="share-story">
                <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{BIG_LAKE.SHORT_HEAD}}%20%7C%20The%20Shale%20Life&link=http%3A%2F%2Fapps.texastribune.org%2Fshale-life%2F{{ BIG_LAKE.SLUG }}%2F&redirect_uri=http://apps.texastribune.org/shale-life/{{ BIG_LAKE.SLUG }}" title="share on Facebook" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{ BIG_LAKE.ENCRYPTED_TWEET }}%20{{ BIG_LAKE.SHARE_URL }}" title="share on Twitter" class="social-share" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <div class="story-box">
        <div class="story">

          <div class="story-prose">
            <h2>{{ BIG_LAKE.LONG_HEAD }}</h2>

            {{ BIG_LAKE.INTRO_TEXT }}

            <p class="byline">{{ BIG_LAKE.BYLINE }}</p>
          </div>

          <div class="map">
            <img src="//s3.amazonaws.com/static.texastribune.org/media/shale/{{ BIG_LAKE.MAP_URL }}">
            <h4>{{ BIG_LAKE.MAP }}</h4>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="data-context">
    <div class="container">
      <div class="data-box">
        <div class="data">
          <h4>Reagan County by the Numbers</h4>
          <hr class="shale-yellow">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>2000</th>
                <th>2010</th>
                <th>2013</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Population">Population</td>
                <td data-title="{{ BIG_LAKE.Data_Col1 }}">{{ BIG_LAKE.Pop2000 }}</td>
                <td data-title="{{ BIG_LAKE.Data_Col2 }}">{{ BIG_LAKE.Pop2010 }}</td>
                <td data-title="{{ BIG_LAKE.Data_Col2 }}">{{ BIG_LAKE.Pop2013 }}</td>
              </tr>
              <tr>
                <td data-title="{{ BIG_LAKE.Data_Title_A }}">{{ BIG_LAKE.Data_Title_A }}</td>
                <td data-title="{{ BIG_LAKE.Data_Col1 }}">{{ BIG_LAKE.Data_A_1 }}</td>
                <td data-title="{{ BIG_LAKE.Data_Col2 }}">{{ BIG_LAKE.Data_A_2 }}</td>
                 <td data-title="{{ BIG_LAKE.Data_Col2 }}">{{ BIG_LAKE.Data_A_3 }}</td>
              </tr>
              <tr>
                <td data-title="{{ BIG_LAKE.Data_Title_B }}">{{ BIG_LAKE.Data_Title_B }}</td>
                <td data-title="{{ BIG_LAKE.Data_Col1 }}">{{ BIG_LAKE.Data_B_1 }}</td>
                <td data-title="{{ BIG_LAKE.Data_Col2 }}">{{ BIG_LAKE.Data_B_2 }}</td>
                 <td data-title="{{ BIG_LAKE.Data_Col2 }}">{{ BIG_LAKE.Data_B_3 }}</td>
              </tr>
              <tr>
                <td colspan=4><em>Source: {{ BIG_LAKE.Source }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>

        {% include 'app/templates/includes/box_ad.html' %}

      </div>


    </div>
  </section>

{% endblock %}
