<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="texas, oil, gas, drilling, eagle ford, permian basin">
  <meta name="news_keywords" content="texas, oil, gas, drilling, eagle ford, permian basin">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.project_title }} | The Texas Tribune</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--   Open Graph -->
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:description" content="">
  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

<!-- Twitter settings -->
  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:site" value="@texastribune">
  <meta name="twitter:creator" content="@newsapps">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:image" content="">
  <meta name="twitter:image:width" content="560">
  <meta name="twitter:image:height" content="295">

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="//use.typekit.net/tsw6wfe.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css /styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) /styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->

  <script>

    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];

    (function() {
      var gads = document.createElement('script');
      gads.async = true;
      gads.type = 'text/javascript';
      var useSSL = 'https:' == document.location.protocol;
      gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
      var node = document.getElementsByTagName('script')[0];
      node.parentNode.insertBefore(gads, node);
    })();

    googletag.cmd.push(function() {
      var mapping = googletag.sizeMapping().addSize([780, 140], [728, 90]).build();

      googletag.defineSlot('/5805113/TexasTribune_Data_DataPage_BTF_Footer_Leaderboard_728x90', [300, 100], 'div-gpt-ad-1406570316312-0')
        .defineSizeMapping(mapping)
        .addService(googletag.pubads());

      googletag.defineSlot('/5805113/TexasTribune_Data_DataPage_BTF_RightRail2_MediumRectangle_300x250', [300, 250], 'div-gpt-ad-1406570316312-1')
        .addService(googletag.pubads());

        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });

  </script>
</head>
<body>

<!-- Masthead -->
<section class="masthead">
 <div class="container">
  <div class="branding">
    <a href="http://www.texastribune.org/">
      <img class="trib-shale-logo mobile" alt="The Texas Tribune" src="//s3.amazonaws.com/apps.texastribune.org/branding/TT-logo-white.dd56ad79c0da.png">
      <img class="trib-shale-logo desktop" alt="The Texas Tribune" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png">
    </a>
    <a href=""><h3>About</h3></a>
    <a href=""><i class="fa fa-th"></i></a>
    <p class="more-stories">More Shale Life Stories</p>
  </div>
 </div>
</section>

{% block content %}{% endblock %}

<section class="nav-carousel">
  <div class="flexslider nav-slider">
    <ul class="slides">
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ LOVING_COUNTY.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ COTTON_FARMERS.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ RESPONDERS.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ EAGLE_FORD_ACCIDENTS.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ KARNES.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ FOOTBALL.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ BUSES.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ CHALLENGE.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ OPPORTUNITY.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ AIR_QUALITY.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ COUNTING_HEADS.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ PRISONS.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ MAN_CAMPS.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ CROP_DUSTER.SHORT_HEAD }}</h3>
      </li>
      <li>
        <img src="http://placekitten.com/g/200/200" />
        <h3>{{ BIG_LAKE.SHORT_HEAD }}</h3>
      </li>
    </ul>
  </div>
</section>


<div class="ad-container banner-ad" id="div-gpt-ad-1406570316312-0">
  <script>
    googletag.cmd.push(function() {
      googletag.display('div-gpt-ad-1406570316312-0');
    });
  </script>
</div>



<footer class="container">
  <div class="footer-logo">
    <img src="http://s3.amazonaws.com/apps.texastribune.org/branding/TT-logo-white.dd56ad79c0da.png">
    <p>© 2014 <a href="http://www.texastribune.org/">The Texas Tribune</a></p>
  </div>
  <div class="member-push">
    <div class="button">Join Us</div>
    <ul>
      <li class="bold">Nonpartisan.</li>
      <li class="bold">Nonprofit.</li>
      <li class="bold">Statewide.</li>
    </ul>
    <hr class="shale-yellow">
    <div class="button">Sign Up</div>
    <ul>
      <li class="bold">Dig Deeper.</li>
      <li>Subscribe to Trib+</li>
      <li>Newsletters today</li>
    </ul>

  </div>
  <div class="footer-links">
    <ul>
      <li><a href="">About The Shale Life Project</a></li>
      <li><a href="">Shale Life Supporters</a></li>
      <li><a href="http://www.texastribune.org/about/">About The Texas Tribune</a></li>
      <li><a href="https://www.texastribune.org/join/" style="color: #008990;">Donate to The Texas Tribune</a></li>
      <li><a href="http://www.texastribune.org/contact/">Contact</a></li>
      <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
      <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
      <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
    </ul>
  </div>
</footer>


<!-- build:js /scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<script>
  (function(c,o,r,g,i,s){c.GoogleAnalyticsObject=g;c[g]||(c[g]=
  function(){(c[g].q=c[g].q||[]).push(arguments)});c[g].g=+new Date;
  i=o.createElement(r);s=o.getElementsByTagName(r)[0];
  i.src='//www.google-analytics.com/analytics.js';
  s.parentNode.insertBefore(i,s)}(window,document,'script','ga'));
  ga('create','UA-9827490-1');ga('send','pageview');
</script>

<!-- build:js({app,.tmp}) /scripts/main.js -->
<script src="/scripts/jquery.flexslider.js"></script>
<script src="/scripts/script.js"></script>
<!-- endbuild -->

{% block extra_script %}{% endblock %}

</body>
</html>
