<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="texas, oil, gas, drilling, eagle ford, permian basin">
  <meta name="news_keywords" content="texas, oil, gas, drilling, eagle ford, permian basin">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/x-icon" href="//s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
  <title>{{ LANDING.SHORT_HEAD }} | The Texas Tribune</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--   Open Graph -->
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:description" content="">
  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

<!-- Twitter settings -->
  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:site" value="@texastribune">
  <meta name="twitter:creator" content="@newsapps">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:image" content="">
  <meta name="twitter:image:width" content="560">
  <meta name="twitter:image:height" content="295">

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="//use.typekit.net/tsw6wfe.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../bower_components/magnific-popup/dist/magnific-popup.css" />
  <link rel="stylesheet" href="../../bower_components/mediaelement/build/mediaelementplayer.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->
</head>
<body>

<!-- Masthead -->
<section class="masthead">
 <div class="container">
  <div class="branding">
    <a href="http://www.texastribune.org/">
      <img class="trib-shale-logo mobile" alt="The Texas Tribune" src="//s3.amazonaws.com/apps.texastribune.org/branding/TT-logo-white.dd56ad79c0da.png">
      <img class="trib-shale-logo desktop" alt="The Texas Tribune" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png">
    </a>
    <a href="http://apps.texastribune.org/shale-life/about/"><h3>About</h3></a>
    <a href="http://apps.texastribune.org/shale-life/"><i class="fa fa-th"></i>
    <p class="more-stories">More Shale Life Stories</p></a>
  </div>
 </div>
</section>

{% block content %}{% endblock %}

<footer>
  <div class="footer-wrapper container">
    <div class="footer-logo">
      <img src="http://s3.amazonaws.com/apps.texastribune.org/branding/TT-logo-white.dd56ad79c0da.png">
      <p>© 2014 <a href="http://www.texastribune.org/">The Texas Tribune</a></p>
    </div>
    <div class="member-push">
      <div class="button">Join Us</div>
      <ul>
        <li class="bold">Nonpartisan.</li>
        <li class="bold">Nonprofit.</li>
        <li class="bold">Statewide.</li>
      </ul>
      <hr class="yellow">
      <div class="button">Sign Up</div>
      <ul>
        <li class="bold">Dig Deeper.</li>
        <li>Subscribe to Trib+</li>
        <li>Newsletters today</li>
      </ul>

    </div>
    <div class="footer-links">
      <ul>
        <li><a href="http://apps.texastribune.org/shale-life/about/">About The Shale Life Project</a></li>
        <li><a href="http://apps.texastribune.org/shale-life/supporters/">Shale Life Supporters</a></li>
        <li><a href="http://www.texastribune.org/about/">About The Texas Tribune</a></li>
        <li><a href="https://www.texastribune.org/join/" style="color: #fcc10f;">Donate to The Texas Tribune</a></li>
        <li><a href="http://www.texastribune.org/contact/">Contact</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/imager.js/Imager.js"></script>
<script src="../../bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="../../bower_components/mediaelement/build/mediaelement-and-player.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script>
  (function(c,o,r,g,i,s){c.GoogleAnalyticsObject=g;c[g]||(c[g]=
  function(){(c[g].q=c[g].q||[]).push(arguments)});c[g].g=+new Date;
  i=o.createElement(r);s=o.getElementsByTagName(r)[0];
  i.src='//www.google-analytics.com/analytics.js';
  s.parentNode.insertBefore(i,s)}(window,document,'script','ga'));
  ga('create','UA-9827490-1');ga('send','pageview');
</script>

<!-- build:js({app,.tmp}) scripts/main.js -->

<script src="scripts/landing-load.js"></script>
<script src="/scripts/jquery.flexslider.js"></script>
<script src="scripts/script.js"></script>
<!-- endbuild -->

{% block extra_script %}{% endblock %}

</body>
</html>
